<h2><%= t('.title') %></h2>
<a href="" class="back">
    <span>
		<span><!--<%= t('.back.button')%>-->Back</span>
	</span>
</a>
<% javascript :form_validator, :form_script %>
<%= form_for @topic_request do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => "true" %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :required => "true" %>
  </p>
  <p>
    <%= f.check_box :anonymous_post %>
    <span class="desc"><%= TopicRequest.human_attribute_name(:anonymous_post) %></span>
  </p>
  <p>
    <%= f.submit t('.submit') %>
  </p>
<% end %>


