<div>
  <div class="header">
    <h2><%= t('.title') %></h2>
    <a href="#" class="pageslide-close"><%= t('layouts.application.header.request_topic.back_button')%></a>
  </div>        
  <% javascript :form_validator, :form_script %>
  <%= form_for @topic_request do |f| %>
    <div class="flash-privacy">
      <div class="border-all"><%= t('layouts.application.header.request_topic.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
    </div>
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title, :required => "true" %>
      <%= f.label :content %>
      <%= f.text_area :content, :required => "true", :rows => "26", :type => "textarea" %>
      <%= f.hidden_field :language, :value => I18n.locale.to_s %>
      <%= f.check_box :anonymous_post %>
      <%= f.label TopicRequest.human_attribute_name(:anonymous_post), :class => "anonym" %>
      <%= f.submit t('.submit'), :class => "btn-gradient" %>
    </fieldset>
  <% end %>
</div>

