<h1><%= t('topic_requests.new.title') %></h1>
<% javascript :form_validator, :form_script %>
<%= form_for @topic_request do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => "true" %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :required => "true" %>
  </p>
  <p>
    <%= f.check_box :annonymous_post %>
    <span class="desc"><%= t('topic_requests.new.remain_anonymous') %></span>
  </p>
  <p>
    <%= f.submit t('topic_requests.new.submit') %>
  </p>
<% end %>


