<%= content_tag :li, :class => "comment-st-level #{("expert" if reply.from_expert?)}" do %>
  <span class="comm-arrow"></span>
  <div class="comm-wrap">
    <div>
      <div class="response-user">
        <div class="avatar-wrapper">
          <span class="avatar">
            <%= image_tag reply.author_avatar, :width => '50' %>
          </span>
        </div>
          <div>
          <div class="res-username">
            <% unless reply.anonymous? %>
              <%= link_to reply.user.username %>
            <% else %>
              <%= t(".anonymous") %>
            <% end %>
          </div>
        </div>
        <div class="res-type-wrapper">
          <div>
            <div>
              <div class="topic-res-type advice"><%= reply.i18n_category %></div>
            </div>
          </div>
        </div>
      </div>
      <%= simple_format reply.content %>
      <% if reply.replies.size > 0 %>
        <ul>
          <%= render :partial => 'replies/reply_reply', :collection => reply.replies %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="res-flag-btns">
    <%= link_to t(".useful"), '#', :class => "btn-gradient useful #{'disabled' unless logged_in?}", :'data-value' => reply.id %>
    <%= link_to '#', :class => "btn-gradient flag #{'disabled' unless logged_in?}", :'data-value' => reply.id do %>
      <span><%= t(".flag") %></span>
    <% end %>  
    <div class="sign-up-tt">
      <p class="sign-up-legend">Anonymous users can't be rated</p>
      <a href="#" class="sign-up-lk border-all"><span class="sign-up-btn">Sign Up</span></a>
    </div>
  </div>
<% end %>
