<%= content_tag :li, :class => reply_css_classes(reply) do %>
  <% if defined?(reply_counter) && reply_counter == 0 %>
    <span class="comm-arrow"></span>
  <% end %>
  <div class="comm-wrap">
    <div>
      <div class="response-user">
        <div class="avatar-wrapper">
          <span class="avatar <%= 'expert' if reply.from_expert? %>">
            <%= image_tag reply.author_avatar, :width => '50' %>
          </span>
          <% unless reply.anonymous? %>
            <%= render :partial => 'users/card', :locals => {:user => reply.user} %>
          <% end %>
        </div>
        <!--div-->
          <div class="res-username">
            <% unless reply.anonymous? %>
              <%= link_to reply.user.username %>
            <% else %>
              <%= t(".anonymous") %>
            <% end %>
          </div>
        <!--/div-->
        <div class="res-type-wrapper">
          <div>
            <div>
              <div class="topic-res-type advice"><%= reply.i18n_category %></div>
            </div>
          </div>
        </div>
      </div>
      <%= simple_format reply.content %>
      <% if reply.replies.size > 0 %>
        <ul class="comments-ls">
          <%= render :partial => 'replies/reply_reply', :collection => reply.replies, :locals => {:noArrow => true} %>
        </ul>
      <% else %>
        <%= link_to t(".reply_to", {:username => current_username}), nil, :class => 'reply-to' %>
        <%= render :partial => "shared/new_response" %>
      <% end %>
    </div>
  </div>
  <%= render :partial => "shared/useful_flag_buttons", :locals => {:reply => reply} %>  
<% end %>
