<li>
  <% unless noArrow %>  
    <span class="comm-arrow"></span>
  <% end %>
  <div class="comm-wrap">
    <div>         
      <div class="response-user">
        <div class="avatar-wrapper">
          <% unless reply_reply.anonymous? %>
            <%= avatar_span(reply_reply.user, reply_reply.user.is_expert?) %>
          <% else %>
            <span class="avatar">
              <%= image_tag(reply_reply.author_avatar, :width => '56') %>
            </span>
          <% end %>
          <% unless reply_reply.anonymous? %>
            <%= render :partial => 'users/card', :locals => {:user => reply_reply.user} %>
          <% end %>
        </div>  
        <div>
          <div class="res-username">
            <% unless reply_reply.anonymous? %>
              <p><%= link_to reply_reply.user.username, user_stream_path(reply_reply.user.username) %></p>
            <% else %>
              <%= t("replies.reply.anonymous") %>
            <% end %>
          </div>
        </div>
        <div class="res-type-wrapper">
          <div>
            <div>
              <div class="topic-res-type advice"><%= reply_reply.i18n_category %></div>
            </div>
          </div>
        </div>
      </div>
      <%= simple_format reply_reply.content %>
    </div>
 </div>
 <%= render :partial => "shared/useful_flag_buttons", :locals => {:reply => reply_reply} %>    
</li>
