<li class="comment-nd-level">
  <div>         
    <div class="response-user">
      <div class="avatar-wrapper">
        <span class="avatar <%= 'expert' if user.is_expert %>">
          <%= image_tag reply_reply.author_avatar, :width => '50' %>
        </span>
      </div>        
      <% unless reply_reply.anonymous? %>
        <%= link_to reply_reply.user.username %>
      <% else %>
        <%= t("replies.reply.anonymous") %>
      <% end %>
    </div>
    <%= simple_format reply_reply.content %>
  </div>
</li>
