<p>مرحبًا <%= @user.username %>,</p>

<p>مرحبًا بكم في مجتمع <%= link_to "تجاوز!", root_url %></p>

<p>قمنا بتعيين كلمة مرور مؤقتة بالنسبة لكم ، من فضلك لا تنسى تغييرها.</p>

<p>اسم المستخدم : <strong><%= @user.username %></strong></p>
<p>كلمة المرور المؤقتة هو : <%= @user.password %></p>

<p>انقر <%= link_to "هنا لتسجيل الدخول!", root_url %></p>

<p>إذا وجدت قيمة تستحق المشاركة والانتشار في تجاوز، فضلًا، انشر الموقع.</p>

<p>شكرًا،<br/>
تجاوز</p>

