<div class="adm-title">
  <h1>Topics Requests</h1>
</div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <th class="requested_at border-left">Requested at</th>
    <th class="requests-title">Title</th>
    <th class="requests-user">User</th>
    <th class="requests-votes">Votes</th>
    <th class="requests-actions border-right">Actions</th>
  </tr>
  <% @topic_requests.each do |topic_request| %>
    <tr>   
      <td class="created_at"><%= l topic_request.created_at, :format => :short %></td>
      <td><%= topic_request.title %></td>
      <td><%= topic_request.user.username %></td>
      <td class="requests-votes"><%= topic_request.votes %></td>
      <td>
        <%= link_to 'Promote to topic', new_admin_topic_path(:from => topic_request.id) %>
        <%= link_to 'Delete', admin_topic_request_path(topic_request), :method => :delete %></td>
      </td>
    </tr>
  <% end %>
</table>

