<% unless related_topics.blank? %>
  <section class="related-content border-all">
    <div>  
      <hr>      
      <h2 class="sec-title-med">
        <%= t('.title') %>
      </h2>   
      <div class="blue-btn-wrapper">
        <% if related_topics.length > 6 %>
          <a href="#" class="view-more blue-btn">
            <span>
              <span>
                <span class="w-arrow"><%= t('.view_more') %></span>
                <span class="more-arrow"></span>
              </span>
            </span>
          </a>
        <% end %>
      </div>
    </div>
    <div class="related-carrousel">
      <ul>
        <% related_topics.each_with_index do |content, index| %>
          <li class="<%= "rd-related-content" if index > 0 && index.succ % 3 == 0 %>">
            <%= link_to content, :target => "_blank", :class => "avatar" do %>
              <%= avatar_span(content.user, content.user.is_expert?, true) %>
            <% end %>
            <%= link_to truncate(content.title, :length => 15), content,:target => "_blank" %>
            <%= truncate(content.content, :length => 45) %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
