<% unless related_contents.blank? %>
  <section class="related-content border-all">
    <div>  
      <hr>      
      <h2 class="sec-title-med">
        <%= t('.related_content.title') %>
      </h2>   
      <div class="blue-btn-wrapper">
        <% if related_contents.length > 6 %>
          <a href="#" class="view-more blue-btn">
            <span>
              <span>
                <span class="w-arrow"><%= t('.related_content.view_more') %></span>
                <span class="more-arrow"></span>
              </span>
            </span>
          </a>
        <% end %>
      </div>
    </div>
    <div class="related-carrousel">
      <ul>
        <% related_contents.each_with_index do |content, index| %>
          <li class="<%= "rd-related-content" if index > 0 && index.succ % 3 == 0 %>">
            <%= link_to image_tag(content.thumbnail.url, :width => '56'), content.source_url, :target => "_blank", :class => "avatar" %>
            <%= link_to truncate(content.title, :length => 14), content.source_url,:target => "_blank" %>
            <%= truncate(content.description, :length => 50) %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
