<li class="<%= topic_counter % 2 == 0 ? 'odd' : 'even' %>">
  <div class="avatar-wrapper" style="z-index: <%= leng - topic_counter %>">
    <%= avatar_span(topic.user, topic.user.is_expert?) %>
    <%= render :partial => 'users/card', :locals => {:user => topic.user} %>
  </div>
  <div class="item-data">
    <%= link_to topic.title, topic, :class => 'dark-lk' %>
    <div>            
      <span class="by-author"><%= raw t('.popular.by', :author => link_to(topic.user.username, user_stream_path(topic.user.username))).html_safe %></span>
      <ul class="tags">
        <% topic.tags.each_with_index do |tag, i| %>
          <li class="<%= "last-tag" if i == topic.tags.length-1 %>"><%= link_to tag, topic_tag_path(tag.id) %></li>
        <% end %>
      </ul>                                                                         
      <%= link_to pluralize_with_i18n(topic.replies.size, '.popular.response'), topic, :class => "responses"  %>
    </div>
  </div>
</li>
