<% stylesheet 'stream', 'uniform.default' %>
<% javascript 'stream', 'include/jquery.uniform.min', 'include/jquery-ui.min' %>

<% title @topic.title %>
<% page_description @topic.content %>
<% head do %>
  <script type="text/javascript">
    var topicId = '<%= @topic.id %>';
    var badWords = <%= BadWord.get_the_bad_word_index.inspect.html_safe %>;
  </script>
<% end %>
<% javascript 'include/jquery.textarea-expander', 'comments', 'include/deserialize', 'topics' %>
<% stylesheet 'topics' %>
<div class="aligned">
  <div class="content article-wrapper">
    <div class="left-side">
      <article class="border-all container-soft-box-shadow">
        <header>
          <div class="avatar-wrapper">
            <%= avatar_span(@topic.user, @topic.user.is_expert?) %> 
            <%= render :partial => 'users/card', :locals => {:user => @topic.user} %>
          </div>
          <div class="right">
            <h1><%= @topic.title %></h1>
            <span class="by-author"><%= raw t '.by', :author => link_to(@topic.user.username, user_stream_path(@topic.user.username)) %></span>
            <p class="article-tags">
              <%= linked_tag_list @topic.tags %>
            </p>
            <div class="social-bookmarkers border-left">
              <%= link_to twitter_share_url(@topic), :target => "_blank",  :class => 'secondary-button border-left-2 btn-twitter' do %>
                <span class="twitter">t('.icons.social.twitter')</span>
              <% end %>
               <%= link_to facebook_share_url(@topic), :target => "_blank",  :class => 'secondary-button border-right-2 btn-facebook' do %>
                  <span class="facebook">t('.icons.social.facebook')</span>
                <% end %>
              <div class="flash-privacy">
                <div class="border-all">
                  <%= t('.icons.social.flash_alert')%>
                  <span class="flash-arrow-shadow">
                    <span class="flash-arrow"></span>
                  </span>
                  <span class="icn-cross"></span>
                  <span class="exclamation-center"></span>
                </div>
              </div>
              <p class="follow-topic-wrapper">
                <% if logged_in? && @topic.subscribed?(current_user) %>
                  <%= link_to t('.unfollow'), unfollow_topic_path(@topic, :format => :json), :remote => true, :method => :post, :class => "follow-topic following secondary-button border-all-2" %>
                <% else %>
                  <%= link_to t('.follow'), follow_topic_path(@topic, :format => :json), :remote => true, :method => :post, :class => "follow-topic secondary-button border-all-2 #{'disabled' unless logged_in?}" %>
                <% end %>
              </p>
            </div>
          </div>
          <br class="clear">
        </header>
        <div class="topic-content">
          <%= simple_format @topic.content %>
        </div>
      </article>
    </div>
    <aside class="border-all container-soft-box-shadow">
      <section class="show-hide">
        <%= link_to nil, :class => "expand-btn btn-gradient" do %>
          <span><%= t('.sidebar.hide_all_responses')%></span>
        <% end %>
      </section>
      <section class="filter">
        <h2 class="sec-title regular <%= "disabled" if @replies.length == 0 %>"><span><%= t('.sidebar.filter_responses.title') %></span></h2>
        <ul class="filter-responses">
          <% Reply::CATEGORIES.each_with_index do |category, i| %>
            <li class="<%= "even" if (i-1)%2 == 0 %>">
              <%= check_box_tag :filter_category, category, false, :disabled => @topic.replies.by_category(category).length == 0 %>
              <%= label_tag "filter_#{category} ", :class => "#{category} #{'disabled' if @topic.replies.by_category(category).length == 0}" do %>
                <%= Reply.human_attribute_name(category) %> <span>(<%= @topic.replies.by_category(category).length %>)</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
      <section class="helpful <%= "disabled" if @replies.length == 0 %>">
        <%= check_box_tag :filter_helpful, true, false, :disabled => @replies.length == 0 %>
        <label for="" id="helpful-comms"><%= t('.sidebar.filter_helpful') %></label>
      </section>    
      <% if @topic.leaderboard.length > 0 %>
      <section class="experts">
        <h2 class="sec-title regular"><span><%= t('.sidebar.experts.title') %></span></h2>
        <ul class="topic-avatars">
          <% @topic.leaderboard.each_with_index do |user, i| %>
            <li>
              <%= avatar_span(user, user.is_expert?) %> 
              <em><%= link_to user.username, user_stream_path(user.username) %></em>
              <%= render :partial => 'users/card', :locals => {:user => user} %>
            </li>
          <% end %>
        </ul>
        <br class="clear">
      </section>
      <% end %>
      <section class="need-help">
        <%= link_to t('.sidebar.need_help'), 'http://ahwaa.zendesk.com/home', :class => "help", :target => "_blank" %>
      </section>
    </aside>
    <br class="clear">
  </div>
  <div class="left-side container-soft-box-shadow">
    <%= render :partial => 'related_topics', :locals => {:related_topics => @topic.related_topics} %>
  </div>
  <br class="clear">  
</div>
<%= form_for Reply.new, :url => topic_replies_path(@topic), :html => { :id => 'add_comments', :class => 'add_comments border-all' }, :remote => true do |f| %>
  <span class="comm-arrow"></span>
  <div class="response-wrapper border-all">
    <div>
      <%= link_to t('.form.cancel'), '#', :class => 'cancel-comment' %>
      <% unless logged_in? %>
        <div  class="sign-up-or-continue response-padding">
          <div class="border-all">       
            <span class="legend-text"><%= t('.form.anonymous_legend') %></span>
            <a href="#" class="sign-up-lk border-all">
              <span class="sign-up-btn border-all"><%= t('.form.sign_up') %></span>
            </a>
            <%= link_to t('.form.continue'), '#', :class => 'continue legend-text' %>
          </div>
          <br class="clear">
        </div>
      <% end %>
      <div class="response <%= "hidden" unless logged_in? %>">
        <div class="response-padding">
          <em class="add_comments_top"><%= current_username %></em>
          <div class="flash-privacy">
            <div class="border-all"><%= t('.form.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
          </div>
          <%= f.text_area :content, :id => nil, :class => 'comment_content', :placeholder => t('.form.write_response') %>
        </div> 
        <div class="res-types-wrapper response-padding">
          <div class="radios">
             <span class="res-lbl"><%= t('.form.type_response') %></span>
             <ul class="res-types">
             <% Reply.categories_hash.each_with_index do |hash, i| %>
                 <li class="res-type">
                  <%= f.radio_button 'category', hash.first, :checked => i == 0 %>
                  <%= label_tag "reply_category_#{hash.first}", hash.last %>
                 </li>
             <% end %>    
             </ul>
          </div>
          <div class="error"></div>
          <div class="submit-reply-wrapper">
            <%= f.submit t('.form.post_response'), :class => "submit-reply" %>
          </div>
        </div>
      </div>              
    </div>                
  <%= f.hidden_field :contextual_index, :class => 'contextual_index' %>
  <%= f.hidden_field :check_field %>
  <%= hidden_field_tag :reply_to, nil, :class => 'reply_to' %>    
  </div>  
<% end %>
<%= render :partial => 'comments', :object => @replies %>
