<% javascript 'locales', 'comments', 'slideshow', 'sitescript' %>
<% stylesheet 'topics' %>
<div class="aligned">
  <div class="content">
    <article class="border-all">
      <header>
      <h1><%= @topic.title %></h1>
        <div class="avatar">
          <%= image_tag @topic.user.profile.avatar.url, :width => '50' %>
        </div>
        <p class="article-tags">
          <%= linked_tag_list @topic.tags %>
        </p>
      </header>
      <div class="topic-content">
        <%= simple_format @topic.content %>
      </div>
      <div class="social-bookmarkers border-left">
        <%= link_to t('.icons.social.facebook'), facebook_share_url(@topic), :target => "_blank", :class => 'facebook' %>
        <%= link_to t('.icons.social.twitter'), twitter_share_url(@topic), :target => "_blank", :class => 'twitter' %>
      </div>
    </article>
    <section class="related-content border-all">
      <h2 class="regular divide" style="border-bottom: 1px solid #e5e5e5"><%= t('.related_content.title') %></h2>
      <div class="arrows">
        <span class="back"><%= t('.related_content.arrows.back') %></span>
      </div>
      <div class="related-carrousel">
        <ul>
          <li>
            <%= link_to image_tag('no-image.jpg', :width => '50'), nil, :class => "avatar" %>
            <%= link_to 'How to accept his way son?' %></li>
          <li>
            <%= link_to image_tag('no-image.jpg', :width => '50'), nil, :class => "avatar" %>
            <%= link_to 'Interview with gay son and his parents' %>
          </li>
          <li>
            <%= link_to image_tag('no-image.jpg', :width => '50'), nil, :class => "avatar" %>
            <%= link_to 'Gallery of some common theme' %></li>
          <li>
            <%= link_to image_tag('no-image.jpg', :width => '50'), nil, :class => "avatar" %>
            <%= link_to 'History of son run of his home' %>
          </li>
        </ul>
      </div>
      <div class="arrows">
        <span class="next"><%= t('.related_content.arrows.next') %></span>
      </div>
    </section>
  </div>
  <aside class="border-right">
    <section>
      <%= link_to t('.sidebar.hide_all_responses'), nil, :class => "expand-btn border-all hide" %>
    </section>
    <section>
      <h2 class="regular"><%= t('.sidebar.filter_responses.title') %></h2>
      <ul class="filter-resposes">
        <% Reply::CATEGORIES.each do |category| %>
          <li>
            <%= check_box_tag :filter_category, category %>
            <label><%= t("activemodel.attributes.reply.categories.#{category}") %></label>
          </li>
        <% end %>
        <li>
          <%= check_box_tag :filter_category, :all %>
          <label><%= t('.sidebar.filter.all') %></label>
        </li>
      </ul>
    </section>
    <section>
      <%= check_box_tag :filter_helpful %>
      <label for="" id="helpful-comms"><%= t('.sidebar.filter_helpful') %></label>
    </section>
    <section>
      <h2><%= t('.sidebar.experts.title') %></h2>
      <ul class="topic-experts">
        <% @topic.leaderboard.each do |user| %>
          <li>
            <div class="avatar">
              <%= image_tag user.profile.avatar.url, :width => '50' %>
            </div>
            <%= link_to user.username %>
          </li>
        <% end %>
      </ul>
    </section>
    <section>
      <%= link_to t('.sidebar.need_help'), '#', :class => "help" %>
    </section>
  </aside>
</div>
<form id="add_comments" class="add_comments" action="#">
  <p>
    <label><%= t('.reply_form.comment') %></label>
    <textarea></textarea>
  </p>
</form>
<% @replies.each do |index, replies| %>
  <ul class="comments" id="comments_<%= index %>">
    <% replies.each do |reply| %>
      <%= content_tag :li, :class => ("expert" if reply.from_expert?) do %>
        <div>
          <div class="avatar-wrapper">
            <span class="avatar">
              <%= image_tag reply.autor_avatar, :width => '50' %>
            </span>
            <% unless reply.anonymous? %>
              <%= link_to reply.user.username %>
            <% else %>
              <%= t(".replies.anonymous") %>
            <% end %>
          </div>
          <%= simple_format reply.content %>
          <% if reply.replies.size > 0 %>
            <ul>
            <% reply.replies.each do |reply_reply| %>
              <li>
                <%= simple_format reply_reply.content %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>
<% end %>
