<% javascript 'comments', 'slideshow', 'sitescript'%>
<% stylesheet 'topics' %>
<div class="aligned">
  <div class="content">
    <article class="border-all">
      <header>
        <h1>How can I tell my religious parents that I am bisexual?</h1>
        <%= image_tag "no-image.jpg", :width => '20' %>      
        <ul class="article-tags">
          <li><%= link_to 'Help' %></li>
          <li><%= link_to 'Religion' %></li>
          <li><%= link_to 'Bisexual' %></li>
        </ul>    
      </header>    
      <p>I am nervous about coming out to my parents. they are catholic, and very religious, and tell me it is very bad to be "homosexual".</p>
      <p>And i currently live with them, so i am scared that they'll treat me differently. Once, my mom eavesdropped on a phone call i had with a boy, and she thought I was gay. I told her no, but that was because she was crying. That day made me want to hide it from her, but i know telling her would be best. -Since i am in a relationship with a boy.</p>
      <p>So what best way would i be able to "come out" to my parents about being bisexual? Please and thank you.</p>
      <p>This may seem like a really bad question but please hear me out.</p>
      <p>I'm 17, I've never had boyfriend and I'm only kind of out of the closet. I'm starting to look for a boyfriend and I'm having trouble finding any gay guys let alone one who would want to date me. I'm afraid that I don't have any traits that would make someone think I'm gay.</p>
      <p>Everyone who I have come out to is always like "omg really?! I would have never guessed." and although in a lot of situations that is a good thing for safety it doesn't help when I'm looking for a boyfriend. Is there anything I can do to you know, kinda look like I'm gay?</p>
      <p>I currently wear jeans, tshirt and sneakers. I don't act very feminine. I'm 6 feet tall and rather large. Any help would be great THX.</p>
      <div class="social-bookmarkers">
  			<a href="http://www.linkedin.com/shareArticle?mini=true&url=AQUIVALAURL&title=AQUIVAELTITULO&source=AQUIVALAURLRAIZ" target="_blank">Linked In</a>
  			<a href="http://www.facebook.com/sharer.php?u=AQUIVALAURL&t=AQUIVAELTITULO" target="_blank">Facebook</a>							
  			<a href="http://twitter.com/home?status=AQUIVAELTITULO Y LA URL" target="_blank">Twitter</a>
  		</div>
    </article>   
    <section class="related-content border-all">
      <h2>Related Content</h2>
      <div class="arrows">                  
        <span class="back">Back</span>
      </div>
      <div class="related-carrousel">
        <ul>
          <li><%= image_tag "no-image.jpg", :width => '20' %><%= link_to 'How to accept his way son?' %></li>
          <li><%= image_tag "no-image.jpg", :width => '20' %><%= link_to 'Interview with gay son and his parents' %></li>
          <li><%= image_tag "no-image.jpg", :width => '20' %><%= link_to 'Gallery of some common theme' %></li>
          <li><%= image_tag "no-image.jpg", :width => '20' %><%= link_to 'History of son run of his home' %></li>
        </ul>
      </div>
      <div class="arrows">     
        <span class="next">Next</span>		  
      </div>      
    </section>  
  </div>
  <aside class="border-right">         
    <section>
      <h2>View responses</h2>
      <ul>
        <li>
          <input type="checkbox" name="">
          <label>Advice</label>
        </li>
        <li>
          <input type="checkbox" name="">
          <label>Comments</label>        
        </li>
        <li>
          <input type="checkbox" name="">
          <label>Experiences</label>        
        </li>
        <li>
          <input type="checkbox" name="">
          <label>Helpfull</label>
        </li>
        <li>
          <input type="checkbox" name="">
          <label>All</label>
        </li>      
      </ul>               
    </section>
    <section>
      <h2>Topic experts</h2>
      <ul class="topic-experts">
        <li><%= image_tag "no-image.jpg", :width => '20' %></li>
        <li><%= image_tag "no-image.jpg", :width => '20' %></li>
        <li><%= image_tag "no-image.jpg", :width => '20' %></li>
        <li><%= image_tag "no-image.jpg", :width => '20' %></li>
        <li><%= image_tag "no-image.jpg", :width => '20' %></li>      
      </ul>
    </section>
  </aside>
</div>           
<!--
<div style="padding-top: 50px; clear: both"></div>
<div class="aligned">  
  
  <article>
    <h1>Select Text</h1>
    <p id="parag">Lorem Ipsum is simply <b>dummy</b> text of the <a class="has_comments" id="comments_1_link">printing and typesetting industry<sup>10</sup>.</a> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s; when an unknown printer took a galley of type and scrambled it to make a type <a class="has_comments" id="comments_2_link">specimen book<sup>10</sup></a>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages??, and more recently with desktop? publishing software like Aldus PageMaker! including versions of Lorem Ipsum...</p>
  </article>
  <ul>
    <li><input type="checkbox" checked>show comments marks</li>
  </ul>
</div>         
-->
<form id="add_comments" class="add_comments" action="#">
  <p>
    <label>Comment</label>
    <textarea></textarea>
  </p>
</form>
<ul class="comments" id="comments_1">
  <li>
    <p>These are the comments of the 1st highlight, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ul>
      <li>
        <p>This is a nested comment</p>
      </li>
    </ul>
  </li>
</ul>
<ul class="comments" id="comments_2">
  <li>
    <p>These are the comments of the 2nd highlight, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ul>
      <li>
        <p>This is a nested comment</p>
      </li>
    </ul>
  </li>
</ul>
