<% stylesheet 'stream', 'uniform.default' %>
<% javascript 'stream', 'include/jquery.uniform.min', 'include/jquery-ui.min' %>

<% title @topic.title %>
<% page_description @topic.content %>
<% head do %>
  <script type="text/javascript">
    var topicId = '<%= @topic.id %>';
    var badWords = <%= BadWord.get_the_bad_word_index.inspect.html_safe %>;
  </script>
<% end %>
<% javascript 'include/jquery.textarea-expander', 'comments', 'include/deserialize', 'topics' %>
<% stylesheet 'topics' %>
<div class="aligned">
  <div class="content article-wrapper">
    <div class="left-side">
      <article class="border-all container-soft-box-shadow" data-hansel-component-id="topic-main-section">
        <header>
          <div class="avatar-wrapper">
            <% unless @topic.is_anonymous %>
              <%= avatar_span(@topic.user, @topic.user.is_expert?) %>
            <% else %>
              <span class="avatar no-level">
                <%= image_tag(@topic.author_avatar) %>
              </span>
            <% end %>
            <% unless @topic.is_anonymous %>
              <%= render :partial => 'users/card', :locals => {:user => @topic.user} %>
            <% end %>
          </div>
          <div class="right">
            <h1><%= @topic.title %></h1>
            <ul class="topic-info">
              <li class="by-author"><%= t '.by', :author => @topic.author_username %></li>
              <li class="article-tags"><%= linked_tag_list @topic.tags %></li>
            </ul>
            <ul class="social-bookmarkers">
              <li class="facebook">
                <iframe src="//www.facebook.com/plugins/like.php?app_id=217506164969209&amp;href=<%= CGI.escape topic_url(@topic) %>&amp;send=false&amp;layout=standard&amp;width=51&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=30&amp;locale=<%= rtl? ? 'ar_AR' : 'en_US' %>" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:51px; height:30px;" allowTransparency="true"></iframe>
                <!-- <div class="flash-privacy">
                  <div class="border-all">
                    <%#= t('.icons.social.flash_alert')%>
                    <span class="flash-arrow-shadow">
                      <span class="flash-arrow"></span>
                    </span>
                    <span class="icn-cross"></span>
                    <span class="exclamation-center"></span>
                  </div>
                </div> -->
              </li>
              <li class="twitter">
                <%= link_to twitter_share_url(@topic), :target => "_blank",  :class => 'secondary-button border-all-2 btn-twitter' do %>
                  <span class="icn-social twitter"><%= t('.icons.social.twitter') %></span>
                <% end %>
                <!-- <div class="flash-privacy">
                  <div class="border-all">
                    <%#= t('.icons.social.flash_alert')%>
                    <span class="flash-arrow-shadow">
                      <span class="flash-arrow"></span>
                    </span>
                    <span class="icn-cross"></span>
                    <span class="exclamation-center"></span>
                  </div>
                </div> -->
              </li>
              <li class="follow">
                <p class="follow-topic-btn">
                  <% if logged_in? && @topic.subscribed?(current_user) %>
                    <%= link_to t('.unfollow'), unfollow_topic_path(@topic, :format => :json), :method => :post, :class => "follow-topic following secondary-button border-all-2" %>
                  <% else %>
                    <%= link_to t('.follow'), follow_topic_path(@topic, :format => :json), :method => :post, :class => "follow-topic secondary-button border-all-2 #{'disabled' unless logged_in?}" %>
                  <% end %>
                </p>
              </li>
              <li class="thank has-tooltip <%= 'disabled' if !logged_in? || logged_in? && (@topic.thanked_by?(current_user) || @topic.user == current_user) %>">
                <p class="thank-btn">
                <a href="#" rel="Thank Topic" class="secondary-button border-all-2"><%= t('.thank.button') %></a>
                </p>

                <% unless logged_in? && @topic.thanked_by?(current_user) %>
                  <div class="tooltip-box tt-thank-msg border-all" style="<%='display:none' unless logged_in?%>">
                    <span class="origin"><span><span></span></span></span>
                    <div class="tooltip-box-inside">
                      <p class="title"><%= t('.thank.title_prefix') %> <i><%= @topic.author_username %></i> <%= t('.thank.title_suffix') %></p>
                      <br class="clear" />
                      <%= form_for(Notification.new, :html => { :method => :post }) do |f| %>
                        <%= f.hidden_field :topic_id, :value => @topic.id %>
                        <%= f.hidden_field :receiver_id, :value => @topic.user.id %>
                        <%= f.hidden_field :category, :value => 'thanks' %>
                        <div class="content-wrapper">
                          <%= f.text_area :content, :class => 'border-all', :placeholder => t('.thank.placeholder'), :id => 'thank-msg-content' %>
                        </div>
                        <div class="left">
                          <label>
                            <%= f.check_box :include_message, {:class => 'include-message', :checked => 'checked'}, true, false %>
                            <span class="chck"><%= t('.thank.include_message') %></span>
                          </label>
                        </div>
                        <p class="right">
                          <%= f.submit t('.thank.send'), :class => "secondary-button border-all-2" %>
                        </p>
                        <span class="clear"></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>

              </li>
            </ul>
          </div>
          <br class="clear">
        </header>
        <div class="topic-content">
          <div id="font-size-controls">
            <span>
              <a href="#" class="increase"><span>A+</span></a>
              <a href="#" class="decrease"><span>A-</span></a>
            </span>
            <br class="clear" />
          </div>
          <%= simple_format auto_link(@content) %>
        </div>
      </article>
    </div>
    <aside class="border-all container-soft-box-shadow" data-hansel-component-id="topic-side-bar">
      <section class="show-hide">
        <%= link_to nil, :class => "expand-btn border-all" do %>
          <span><%= t('.sidebar.hide_all_responses')%></span>
        <% end %>
      </section>
      <section class="filter">
        <h2 class="sec-title regular <%= "disabled" if @replies.length == 0 %>"><span><%= t('.sidebar.filter_responses.title') %></span></h2>
        <ul class="filter-responses">
          <% Reply::CATEGORIES.each_with_index do |category, i| %>
            <li class="<%= "even" if (i-1)%2 == 0 %>">
              <%= check_box_tag :filter_category, category, false, :disabled => @topic.replies.by_category(category).length == 0 %>
              <%= label_tag "filter_#{category} ", :class => "#{category} #{'disabled' if @topic.replies.by_category(category).length == 0}" do %>
                <%= Reply.human_attribute_name(category) %> <span>(<%= @topic.all_replies.by_category(category).length %>)</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
      <section class="helpful <%= "disabled" if @replies.length == 0 %>">
        <%= check_box_tag :filter_helpful, true, false, :disabled => @replies.length == 0 %>
        <label for="" id="helpful-comms"><%= t('.sidebar.filter_helpful') %></label>
      </section>
      <% if @topic.leaderboard.length > 0 %>
      <section class="experts">
        <h2 class="sec-title regular"><span><%= t('.sidebar.experts.title') %></span></h2>
        <ul class="topic-avatars">
          <% @topic.leaderboard.each_with_index do |user, i| %>
          <% next if current_user && current_user.blocks.map{|u| u.block}.include?(user) %>
            <li>
              <%= avatar_span(user, user.is_expert?) %>
              <em><%= user.username %></em>
              <%= render :partial => 'users/card', :locals => {:user => user} %>
            </li>
          <% end %>
        </ul>
        <br class="clear">
      </section>
      <% end %>
      <section class="need-help has-tooltip">
        <%= link_to t('.sidebar.need_help'), 'javascript:', :class => "help" %>
        <div class="tooltip-box help-msg border-all <%='not_log' unless logged_in?%>" >
          <span class="origin"><span><span></span></span></span>
          <div class="tooltip-box-inside">
            <!-- <p class="title"><%#= t('.thank.title_prefix') %> <i><%= @topic.author_username %></i> <%#= t('.thank.title_suffix') %></p> -->

            <%= form_for PrivateMessage.new, :url => user_private_messages_path(@admin), :html => {:class => 'form-private-msg', :id => nil}, :remote => true do |f| %>
              <% unless logged_in? %>
                <div  class="sign-up-or-continue">
                  <div class="border-all">
                    <span class="legend-text"><%= t('.form.anonymous_legend') %></span>
                    <a href="#" class="sign-up-lk border-all help-sign">
                      <span class="sign-up-btn border-all"><%= t('.form.sign_up') %></span>
                    </a>
                  </div>
                  <br class="clear">
                </div>
              <% else %>
                <%= f.text_area :content, :class => 'border-all', :placeholder => t('private_message.write_msg'), :required => true, :id => nil %>
                <div class="private-msg-btns">
                  <%= link_to t('private_message.cancel'), "javascript: $('.help-msg').hide()", :class => '' %>
                  <%= f.submit t('private_message.submit'), :class => 'btn-gradient' %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </aside>
    <br class="clear">
  </div>
  <div class="left-side container-soft-box-shadow">
    <% related_topics = @topic.related_topics.reject!{|k| current_user.blocks.map{|u| u.block}.include? k.user} if current_user %>
    <% related_topics = @topic.related_topics unless current_user %>
    <%= render :partial => 'related_topics', :locals => {:related_topics => related_topics} %>
  </div>
  <br class="clear">
</div>
<%= form_for Reply.new, :url => topic_replies_path(@topic), :html => { :id => 'add_comments', :class => 'add_comments border-all' }, :remote => true do |f| %>
  <span class="comm-arrow"></span>
  <div class="response-wrapper border-all">
    <div>
      <a href="#" title="<%= t('.form.cancel') %>" class="cancel-comment <%= "cancel-logged-out" unless logged_in?  %>"><%= t('.form.cancel') %></a>
      <% unless logged_in? %>
        <div  class="sign-up-or-continue response-padding">
          <div class="border-all">
            <span class="legend-text"><%= t('.form.anonymous_legend') %></span>
            <a href="#" class="sign-up-lk border-all">
              <span class="sign-up-btn border-all"><%= t('.form.sign_up') %></span>
            </a>
          </div>
          <br class="clear">
        </div>
      <% end %>
      <div class="response <%= "hidden" unless logged_in? %>">
        <div class="response-padding">
          <em class="add_comments_top">
            <%= current_username %>
          </em>
          <span class="post_as_anonymous">
            <%= f.check_box :as_anonymous %><%= label_tag "reply_as_anonymous", t('.form.as_anonymous') %>
          </span>
          <div class="flash-privacy">
            <div class="border-all"><%= t('.form.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
          </div>
          <%= f.text_area :content, :id => nil, :class => 'comment_content', :placeholder => t('.form.write_response') %>
        </div>
        <div class="res-types-wrapper response-padding">
          <div class="radios">
             <span class="res-lbl"><%= t('.form.type_response') %></span>
             <ul class="res-types">
             <% Reply.categories_hash.each_with_index do |hash, i| %>
                 <li class="res-type">
                  <%= f.radio_button 'category', hash.first, :checked => i == 0 %>
                  <%= label_tag "reply_category_#{hash.first}", hash.last %>
                 </li>
             <% end %>
             </ul>
          </div>
          <div class="error"></div>
          <div class="submit-reply-wrapper">
            <%= f.submit t('.form.post_response'), :class => "submit-reply" %>
          </div>
        </div>
      </div>
    </div>
  <%= f.hidden_field :contextual_index, :class => 'contextual_index' %>
  <%= f.hidden_field :check_field %>
  <%= hidden_field_tag :reply_to, nil, :class => 'reply_to' %>
  </div>
<% end %>
<%= render :partial => 'comments', :object => @replies %>
