<% head do %>
  <script type="text/javascript">var topicId = '<%= @topic.cached_slug %>';</script>
<% end %>
<% javascript 'comments', 'slideshow', 'deserialize', 'topics', 'Neon', 'Remote', 'Reply' %>
<% stylesheet 'topics' %>
<div class="aligned">
  <div class="content article-wrapper">
    <div class="left-side">
      <article class="border-all">
        <header>
        <h1><%= @topic.title %></h1>
          <div class="avatar <%= 'expert' if @topic.user.is_expert %>">
            <%= image_tag @topic.user.profile.avatar.url, :width => '50' %>
          </div>
          <p class="article-tags">
            <%= linked_tag_list @topic.tags %>
          </p>
        </header>
        <div class="topic-content">
          <%= simple_format @topic.content %>
        </div>
        <div class="social-bookmarkers border-left">
          <%= link_to t('.icons.social.facebook'), facebook_share_url(@topic), :target => "_blank", :class => 'facebook' %>
          <%= link_to t('.icons.social.twitter'), twitter_share_url(@topic), :target => "_blank", :class => 'twitter' %>
        </div>
      </article>
    </div>
    <aside class="border-right">
      <section>
        <%= link_to t('.sidebar.hide_all_responses'), nil, :class => "expand-btn btn-gradient hide" %>
      </section>
      <section>
        <h2 class="sec-title regular"><%= t('.sidebar.filter_responses.title') %></h2>
        <ul class="filter-resposes">
          <% Reply::CATEGORIES.each do |category| %>
            <li>
              <%= check_box_tag :filter_category, category %>
              <%= label_tag "filter_#{category}", Reply.human_attribute_name(category), :class => category %>
            </li>
          <% end %>
        </ul>
      </section>
      <section>
        <%= check_box_tag :filter_helpful %>
        <label for="" id="helpful-comms"><%= t('.sidebar.filter_helpful') %></label>
      </section>
      <section>
        <h2 class="sec-title"><%= t('.sidebar.experts.title') %></h2>
        <ul class="topic-avatars">
          <% @topic.leaderboard.each do |user| %>
            <li>
              <div class="avatar <%= 'expert' if user.is_expert %>">
                <%= image_tag user.profile.avatar.url, :width => '50' %>
              </div>
              <%= link_to user.username %>
              <%= render :partial => 'users/card', :locals => {:user => user} %>
            </li>
          <% end %>
        </ul>
      </section>
      <section>
        <%= link_to t('.sidebar.need_help'), '#', :class => "help" %>
      </section>
    </aside>
    <br class="clear">
  </div>
  <div class="left-side">
    <%= render :partial => 'related_content', :locals => {:related_contents => @related_contents} %>
  </div>
  <br class="clear">  
</div>
<%= form_for [@topic, Reply.new], :html => { :id => 'add_comments', :class => 'add_comments border all' }, :remote => true do |f| %>
  <%= f.hidden_field :contextual_index, :class => 'contextual_index' %>
  <span class="comm-arrow"></span>
  <div class="response-wrapper">
    <div>                
      <%= link_to t('.form.cancel'), '#', :class => 'cancel-comment' %>     
      <% unless logged_in? %>      
        <div class="sign-up-or-continue border-all">       
          <span class="legend-text"><%= t('.form.anonymous_legend') %></span>
          <a href="#" class="sign-up-lk border-all">
            <span class="sign-up-btn"><%= t('.form.sign_up') %></span>
          </a>
          <%= link_to t('.form.continue'), '#', :class => 'continue legend-text' %>
        </div>
      <% end %>  
      <div class="response <%= "hidden" unless logged_in? %>">
        <div class="add_comments_top"><%= current_username %></div>
        <%= f.text_area :content, :placeholder => t('.form.write_response') %>
        <div class="res-types-wrapper">
          <div class="error"></div>
          <div class="buttons">
            <%= f.hidden_field :category, :class => 'reply_category' %>
            <ul class="res-types">
               <% Reply.categories_hash.each_with_index do |hash, i| %>
                  <li class="res-type <%= response_type_border_class i %>">
                    <span class="<%= hash.first %>"></span>
                    <%= f.submit hash.last, :name => hash.first, :class => response_type_border_class(i) %>
                  </li>
                <% end %>
            </ul>
            <label class="res-lbl"><%= t('.form.type_response') %></label>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render :partial => 'comments', :object => @replies %>
