<% stylesheet 'tags' %>
  <div class="aligned">
    <div class="items-wrapper">
      <section class="topics border-all">
        <div class="tags-title">
          <h2><%= @tag.name %></h2>
          <p class="order">
            <%= t '.sort_by.label' %>
            <%= link_to t('.sort_by.newest'), nil, :class => active_class %>
            <%= link_to t('.sort_by.responses'), {:by_responses => 1}, :class => active_class(true) %>
          </p>
        </div>
        <div class="tag-items topic-avatars">
          <% @topics.each do | group_topics | %>
            <div class="tag-item-row">
              <% group_topics.each do | topic | %>
                <div class="tag-item">
                  <div class="avatar-wrapper">
                    <%= avatar_span(topic.user, topic.user.is_expert?) %>
                    <%= render :partial => 'users/card', :locals => {:user => topic.user} %>
                  </div>
                  <div class="tag-item-data">
                    <%= link_to topic.title, topic, :class => 'dark-lk' %>           
                    <%= t('topics.topic.popular.by', :author => topic.user.username).html_safe %>
                    <br />
                    <ul class="tags">
                      <% topic.tags.each_with_index do |tag, i| %>
                        <li class="<%= "last-tag" if i == topic.tags.length-1 %>"><%= link_to tag, topic_tag_path(tag.id) %></li>
                      <% end %>
                    </ul>                                                                         
                    <%= link_to pluralize_with_i18n(topic.replies.size, 'topics.topic.popular.response'), topic, :class => "responses"  %>
                  </div>
                </div>
              <% end %>       
              <div class="white-area"></div>
              <br class="clear">
            </div>
          <% end %>
          <p class="clear"></p>
        </div>
      </section>
    </div>
  </div>
