<% stylesheet 'tags' %>
  <div class="aligned">
    <div class="items-wrapper">
      <section class="topics">
        <p class="order">
          <%= t '.sort_by.label' %>
          <%= link_to t('.sort_by.newest'), nil, :class => active_class %>
          <%= link_to t('.sort_by.responses'), {:by_responses => 1}, :class => active_class(true) %>
        </p>
        <div class="items topic-avatars">
          <% @topics.each do | group_topics | %>
            <div>
              <% group_topics.each do | topic | %>
                <div>                                                                                            
                  <div class="avatar-wrapper">
                    <span class="avatar <%= 'expert' if topic.user.is_expert %>">
                      <%= image_tag(topic.user.profile.avatar.url, :width => '50') %>
                    </span>
                    <%= render :partial => 'users/card', :locals => {:user => topic.user} %>
                  </div>
                  <div class="item-data">
                    <%= link_to topic.title, topic, :class => 'dark-lk' %>           
                    <%= t('topics.topic.popular.by', :author => topic.user.username).html_safe %>
                    <br />
                    <ul class="tags">
                      <% topic.tags.each do |tag| %>
                        <li><%= link_to tag, topic_tag_path(tag.name) %></li>
                      <% end %>
                    </ul>                                                                         
                    <%= link_to pluralize(topic.replies.size, t('topics.topic.popular.response')), topic, :class => "responses"  %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <p class="clear"></p>
        </div>
      </section>
    </div>
  </div>
