<% javascript 'admin/profileMatches' %>
<% head do %>
  <script type="text/javascript" >
    currentTopicId = <%= @topic.id %>;
    $(getProfileTopicMatches);
  </script>
<% end %>
<div class="adm-title">
  <h1>Topic Profile Matches</h1>
</div>
<h2><%= @topic.title.html_safe %></h2>
<p><%= @topic.content %></p>
<%= form_tag(list_matches_admin_topic_profile_matches_path(@topic, :format => 'js'), :id => 'profile_match_filters_form') do %>
  <ul class="profile-match-filters">
    <li class="field">
      <div><%= UserProfile.human_attribute_name(:religion_id) %></div>
      <div>
        <%= select_tag 'filters[religion_id]', options_from_collection_for_select(Religion.all_with_all_option, :id, :name) %>
      </div>
    </li>
    <li class="field">
      <div><%= UserProfile.human_attribute_name(:gender_id) %></div>
      <div>
        <%= select_tag 'filters[gender_id]', options_from_collection_for_select(Gender.all_with_all_option, :id, :name) %>
      </div>
    </li>
    <li class="field">
      <div><%= UserProfile.human_attribute_name(:sexual_orientation_id) %></div>
      <div>
        <%= select_tag 'filters[sexual_orientation_id]', options_from_collection_for_select(SexualOrientation.all_with_all_option, :id, :name) %>
      </div>
    </li>
    <li class="field">
      <div><%= UserProfile.human_attribute_name(:age_id) %></div>
      <div>
        <%= select_tag 'filters[age_id]', options_from_collection_for_select(Age.all_with_all_option, :id, :range) %>
      </div>
    </li>
    <li class="field">
      <div><%= UserProfile.human_attribute_name(:political_view) %></div>
      <div>
        <%= select_tag 'filters[political_view_id]', options_from_collection_for_select(PoliticalView.all_with_all_option, :id, :name) %>
      </div>
    </li>
  </ul>
<% end -%>

<div id='profile_matches_results'>
</div>
