<% javascript 'slideshow', 'admin' %>
<div class="adm-title">
  <h1>Related Content for <%= @topic.title %></h1>
</div>
<% javascript :form_validator, :form_script, :Neon, :RelatedContent %>
<% head do %>
  <script type="text/javascript" >
    currentTopicId = <%= @topic.id %>;
  </script>
<% end %>

<h3>For image links from Flikr and TwitPic you might preffer to set the Title and Description manually.</h3>
<h3>For links and videos Title and Description are scraped but you can set them to what you please also</h3>
<br/>
<%= form_for [:admin, @topic, @related_content], :html => { :id => 'related_content_form'} do |f| %>
  <div id='related_content_form_fields' >
    <p class="field">
      <%= f.label :source_url %>
      <%= f.text_field :source_url, :required => "true", :type => 'url' %>
    </p>
    <p class="field">
      <%= f.label :title, 'Title (optional)' %>
      <%= f.text_field :title %>
    </p>
    <p class="field">
      <%= f.label :description, 'Description (optional)' %>
      <%= f.text_field :description %>
    </p>
  </div>
  <p>
    <%= f.submit 'Add Related Content' %>
  </p>
<% end %>
<br/>
<ul class='related-content'>
  <% @related_contents.each do |content| %>
    <li class='<%= content.css_class %>'  >
      <%= link_to image_tag(content.thumbnail.url), content.source_url, :target => "_blank" %>
      <div class="related-content-details">
        <div><%= link_to content.title, content.source_url, :target => "_blank" %></div>
        <div><%=  content.description %></div>
        <div><%= link_to 'Delete', admin_topic_related_content_path(@topic, content), :method => :delete %></div>
      </div>
    </li>
  <% end %>
</ul>

