<% javascript :form_validator, :form_script, 'jquery.fcbkcomplete.min' %>
<% stylesheet :fcbkcomplete %>
<% head do %>
  <script type="text/javascript" >
    $(function(){
      $("#topic_tag_list").fcbkcomplete({
        json_url: "/admin/tags.json",
        cache: true,
        filter_case: true,
        filter_hide: true,
        newel: true,
        keepItemsOnDeleteKeyPress: true
      });
      <% @topic_tags.each do |topic_tag| %>
        $("#topic_tag_list").trigger("addItem", [<%= topic_tag.to_json.html_safe %>] );
      <% end %>
    })
  </script>
<% end %>


<%= form_for [:admin, @topic] do |f| %>
  <%= render "shared/error_messages", :target => @topic %>
  <p class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => "true" %>
  </p>
  <p class="field">
    <%= f.label :content %>
    <% if @topic.new_record? %>
      <%= f.text_area :content, :required => "true" %>
    <% else %>
      <%= @topic.content %>
    <% end %>
  </p>
  <p class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username, :required => "true" %>
  </p>
  <p class="field">
    <%= f.label :tag_list %>
    <%= select_tag 'topic[tag_list]', [], :multiple => true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
