<% javascript :form_validator, :form_script %>
<%= form_for [:admin, @topic] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => "true" %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :required => "true" %>
  </p>
  <p>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username, :required => "true" %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
    <span class="desc">Comma separated</span>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
