<% head do %>
  <script type="text/javascript">
      $(function(){
          $('.featured-link').bind('ajax:beforeSend', function (data){
            $(this).siblings('img').show();
          }).bind('ajax:complete', function (data){
              var checkbox = $(this).find('input');
              checkbox.attr('checked', !checkbox.attr('checked'));
              $(this).siblings('img').hide();
          });
      });
  </script>
<% end %>


<div class="adm-title">
  <h1>Topics</h1>
  <%= link_to 'New Topic', new_admin_topic_path %>
</div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <th class="created_at border-left">Created at</th>
    <th class="title">Title</th>
    <th class="user">User</th>
    <th class="profile_matches">Profile Matches</th>
    <th class="edit">Edit</th>
    <th class="featured">Featured</th>
    <th class="delete border-right">Delete</th>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td class="created_at"><%= l topic.created_at, :format => :short %></td>
      <td><%= link_to topic.original_title, topic %></td>
      <td><%= topic.user ? topic.user.username : '' %></td>
      <td class="profile_matches"><%= link_to 'Profile Matches', admin_topic_profile_matches_path(topic) %></td>
      <td class="edit"><%= link_to 'Edit', edit_admin_topic_path(topic) %></td>
      <td class="featured">
        <%= link_to toggle_admin_featured_topic_path(topic), :method => :post, :remote => true, "data-type" => :json, :class => 'featured-link' do %>
          <%= check_box_tag 'featured[]', value = "1", topic.featured %>
        <% end %>
        <img src="/images/loading-s-white.gif" style="display:none">
      </td>
      <td class="delete"><%= link_to 'Delete', admin_topic_path(topic), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>
  <% end %>
</table>

<br />
<%= will_paginate(@topics) %>
