<div class="private-msg border-all">
  <span class="origin">
    <span>
      <span></span>
    </span>
  </span>
  <div class="user-wrapper">
    <div class="user-info">
      <p class="username"><%= user.username %> <%= t('private_message.expert') if user.is_expert? %></p>
      <ul class="activity-btns">
        <li class="light-button">
          <%= link_to '#', :title => t('private_message.view_profile') do  %>
            <span class="view-profile"><%= t('private_message.view_profile') %></span>
          <% end %>
         </li>
         <% unless current_user == user || !logged_in? %>
         <li class="light-button first">
            <%= link_to '#', :title => t('private_message.send_pm'), :class => "#{'disabled' unless logged_in?}" do  %>
              <span class="send-private-msg"></span>
            <% end %>
          </li>
          <% end %>
        </ul>
        <p class="points-wrapper-small small-hearts border-all">
          <span class="level <%= level_css_class_for_user(user) %>"></span>
          <span class="points"><%= user.score_board.current_points %></span>
        </p>
    </div>
    <br class="clear" />
  </div>
  <%= form_for PrivateMessage.new, :url => user_private_messages_path(user), :html => {:class => 'form-private-msg', :id => nil}, :remote => true do |f| %>
    <div class="flash-privacy">
      <div class="border-all"><%=  t('private_message.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
    </div>
    <%= f.text_area :content, :class => 'border-all', :placeholder => t('private_message.write_msg'), :required => true, :id => nil %>
    <div class="private-msg-btns">
      <%= link_to t('private_message.cancel'), '#', :class => 'cancel' %>
      <%= f.submit t('private_message.submit'), :class => 'btn-gradient' %>
    </div>
  <% end %>
  <div class="recently-topics">
    <p><%= t('private_message.recently_participated') %></p>
    <ul>
      <% unless user.recent_replies.empty? %>
        <% user.recent_replies.each do |reply| %> 
          <li><%= link_to truncate(reply.topic.title, :length => 50), reply.topic %></li>
        <% end %>
      <% else %>
        <li><%= t 'private_message.no_activity' %></li>
      <% end %>
    </ul>
  </div>
</div>
