<div class="private-msg border-all">
  <div class="user-wrapper">
    <div class="user-info">
      <p><%= user.username %> <%= t('private_message.expert') if user.is_expert? %></p>
      <p class="points-wrapper">
            <span class="level border-left <%= level_css_class_for_user(user) %>"></span>
            <span class="points border-right"><%= t('private_message.points', {:points => user.score_board.current_points})%></span>
      </p>
      <% unless current_user == user %>
        <%= link_to '#', :class => "btn-gradient send-private-msg #{'disabled' unless logged_in?}" do  %>
        <!--[if lt IE 9]>
          <span></span>
        <![endif]-->
        <% end %>
      <% end %>
    </div>
    <%= avatar_span(user, user.is_expert?, true) %>
  </div>
  <%= form_for PrivateMessage.new, :url => user_private_messages_path(user, :js), :html => {:class => 'form-private-msg'}, :remote => true do |f| %>
    <%= f.text_area :content, :class => 'border-all', :placeholder => 'Write your message' %>
    <div class="private-msg-btns">
      <%= link_to t('private_message.cancel'), '#', :class => 'cancel' %>
      <%= f.submit t('private_message.submit'), :class => 'btn-gradient' %>
    </div>
  <% end %>
  <div class="recently-topics">
    <p><%= t('private_message.recently_participated') %></p>
    <ul>
      <% unless user.recent_replies.empty? %>
        <% user.recent_replies.each do |reply| %> 
          <li><%= link_to truncate(reply.topic.title, :length => 50), reply.topic %></li>
        <% end %>
      <% else %>
        <li><%= t 'private_message.no_activity' %></li>
      <% end %>
    </ul>
  </div>
</div>
