<div class="private-msg tooltip-box border-all" data-hansel-component-id="private-message">
  <span class="origin">
    <span>
      <span></span>
    </span>
  </span>
  <div class="user-wrapper">
    <div class="user-info">
      <p class="username"><%= user.username %> <%= t('private_message.expert') if user.is_expert? %></p>
      <% unless current_user == user || !logged_in? || (current_user.blocks.map{|u| u.block}.include? user) || current_user.blocked_user?(user) %>
        <ul class="activity-btns">
           <li class="light-button border-all-2">
              <%= link_to '#', :title => t('private_message.send_pm'), :class => "#{'disabled' unless logged_in?}" do  %>
                <span class="send-private-msg"></span>
              <% end %>
            </li>
        </ul>
        <% if user.new_user? && !current_user.already_welcomed?(user) %>
          <p class="light-button border-all-2 welcome-btn">
            <a href="#" class="">Welcome</a>
          </p>
        <% end %>
      <% end %>
      <p class="points-wrapper-small small-hearts">
        <span class="level <%= level_css_class_for_user(user) %>"></span>
        <span class="points"><%= user.score_board.current_points %></span>
      </p>
    </div>
    <% if user != current_user && (!current_user.blocks.map{|u| u.block}.include? user) %>
      <%= link_to blocks_path(:blocked_id => user.id), :method => :post, :title => t('private_message.block'), :class => "#{'disabled' unless logged_in?}" do %>
        <span class="block_user"></span>
      <% end %>
    <% end %>
    <br class="clear" />
  </div>
  <%= form_for PrivateMessage.new, :url => user_private_messages_path(user), :html => {:class => 'form-private-msg', :id => nil}, :remote => true do |f| %>
    <%= f.text_area :content, :class => 'border-all', :placeholder => t('private_message.write_msg'), :required => true, :id => nil %>
    <div class="private-msg-btns">
      <%= link_to t('private_message.cancel'), '#', :class => 'cancel' %>
      <%= f.submit t('private_message.submit'), :class => 'btn-gradient' %>
    </div>
  <% end %>

  <%= form_for(Notification.new, :html => { :method => :post, :class => "form-welcome-msg" }) do |f| %>
    <%= f.hidden_field :receiver_id, :value => user.id %>
    <%= f.hidden_field :category, :value => 'welcome' %>
    <div class="flash-privacy">
      <div class="border-all"><%=  t('private_message.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
    </div>
    <%= f.text_area :content, :class => 'welcome-msg-content border-all', :placeholder => t('welcome_message.placeholder') %>
    <div class="form-welcome-options">
      <label>
        <%= f.check_box :include_message, {:class => 'include-message', :checked => 'checked'}, true, false %>
        <span class="chck"><%= t('welcome_message.options') %></span>
      </label>
    </div>
    <p class="form-welcome-buttons">
      <a href="#" class="cancel"><%= t('welcome_message.cancel')%></a>
      <%= f.submit t('welcome_message.submit'), :class => "secondary-button border-all-2" %>
    </p>
    <span class="clear"></span>
  <% end %>

  <div class="recently-topics">
    <p><%= t('private_message.recently_participated') %></p>
    <ul>
      <% unless user.recent_replies.empty? %>
        <% user.recent_replies.each do |reply| %>
          <li><%= link_to truncate(reply.topic.title, :length => 50), reply.topic %></li>
        <% end %>
      <% else %>
        <li><%= t 'private_message.no_activity' %></li>
      <% end %>
    </ul>
  </div>
</div>
