<div class="messages-title header-title-bg border-top">
  <h2><%= t('users.show.content.private_messages.my_messages') %></h2>
</div>
<% unless inbox.empty? %>
  <ul class="messages">
    <% inbox.each_with_index do |pm, i| %>
      <% if pm.private_message.notification %>
        <%= render 'users/notification', {:inbox => inbox, :pm => pm, :i => i, :topic => pm.private_message.notification.topic } %>
      <% else %>
        <%= render 'users/private_message', {:inbox => inbox, :pm => pm, :i => i} %>
      <% end %>
    <% end %>
  </ul>
    <% if inbox.length > 10 %>
      <div class="bar border-all">
        <%= will_paginate inbox, :renderer => PrivateMessagesPaginationRenderer %>
      </div>
    <% end %>
<% else %>
  <h3 class="pm-panel-padding"><%= t('.no_messages') %></h3>
  <p class="pm-panel-padding"><%= t '.empty_tip' %></p>
<% end %>
