<% stylesheet 'profile' %>

<div class="container">
  <div class="content profile-wrapper">

    <%= render :partial => 'shared/user_nav' %>

    <div class="right-side border-all container-soft-box-shadow" data-hansel-container-id="user-topics">
      <section class="topics">
        <div class="my-topics-title header-title-bg border-all">
          <h2>Topics</h2>
        </div>
        <% if @topics.empty? %>
          <div class="is_empty">
            <div>
              <p class="title"><%= t('my_topics.is_empty.title') %></p>
            </div>
            <div class="help-box">
              <p>
                <a href="<%= new_topic_request_path %>" title="<%= t('my_topics.is_empty.request_topic') %>" class="request-topic <%= 'disabled' if !logged_in? %> <%= 'active' if logged_in? %>">
                  <strong><%= t('my_topics.is_empty.request_topic') %></strong>
                </a>
                <%= t('my_topics.is_empty.message') %>
              </p>
            </div>
          </div>
        <% else %>
          <ul class="topic-participation">
          <% @topics.each do |topic| %>
            <li class="border-all">
              <div class="topic-spotlight border-top-3">
                <div class="item-data">
                  <%= avatar_span(topic.user, topic.user.is_expert?) %>
                  <div class="topic-info">
                    <%= link_to topic.title, topic, :class => 'title' %>
                    <div>
                      <%= link_to topic.replies.size, topic, :class => 'responses' %>
                      <ul class="tags">
                        <% topic.tags.each_with_index do |tag, i| %>
                          <li class="<%= "last-tag" if i == topic.tags.length-1 %>">
                            <%= link_to tag, topic_tag_path(tag.id) %><%= ',' unless i == topic.tags.length-1 %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                    <blockquote>
                      <%= simple_format truncate(topic.content, :length => 140) %>
                    </blockquote>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
        <% end %>
      </section>
      <section class="recommended-topics">
        <h3><%= t('private_message.recently_participated') %></h3>
        <ul class="recently">
          <% unless @user.recent_replies.empty? %>
            <% @user.recent_replies.each do |reply| %>
              <li class="border-all">
                <%= link_to truncate(reply.topic.title, :length => 50), reply.topic %>
              </li>
            <% end %>
          <% else %>
            <li><%= t 'private_message.no_activity' %></li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>
