<% stylesheet 'my_topics' %>
<script type="text/javascript">
$(document).ready(function(){
  $(".item-data").emotions();
});
</script>
<div class="container">
  <div class="content my-topics-wrapper">
    <%#= render :partial => 'shared/user_nav' %>
    <div class="right-side border-all container-soft-box-shadow" data-hansel-container-id="user-topics">
        <div class="my-topics-title header-title-bg border-all">
          <h2><%= @user.username%> <%= t 'shared.user_topics' %></h2>
          <p class="points-wrapper-small small-hearts">
             <span class="level <%= level_css_class_for_user(@user) || 'no-level' %>"></span>
             <span class="points"><%= @user.score_board.current_points %></span>
           </p>

            <div class="private-msg-profile">

              <% unless current_user == @user || !logged_in? || (logged_in? && (current_user.blocks.map{|u| u.block}.include? @user)) || current_user.blocked_user?(@user) %>
                <ul class="activity-btn-profile">
                   <li class="light-button border-all-2">
                      <%= link_to '#', :title => t('private_message.send_pm'), :class => "#{'disabled' unless logged_in?}" do  %>
                        <span class="send-private-msg-profile"></span>
                      <% end %>
                    </li>
                </ul>
                <% if @user.new_user? && !current_user.already_welcomed?(@user) %>
                  <p class="light-button border-all-2 welcome-btn">
                    <a href="#" class="">Welcome</a>
                  </p>
                <% end %>
              <% end %>
              <%= form_for PrivateMessage.new, :url => user_private_messages_path(@user), :html => {:class => 'form-private-msg', :id => nil}, :remote => true do |f| %>
                <%= f.text_area :content, :class => 'border-all', :placeholder => t('private_message.write_msg'), :required => true, :id => nil %>
                <div class="private-msg-btns">
                  <%= link_to t('private_message.cancel'), '#', :class => 'cancel' %>
                  <%= f.submit t('private_message.submit'), :class => 'btn-gradient' %>
                </div>
              <% end %>
            </div>



      </div>
      <% if @topics.empty? %>
        <div class="is_empty">
          <div>
            <p class="title"><%= t('my_topics.is_empty.title') %></p>
          </div>
          <div class="help-box">
            <p>
              <a href="<%= new_topic_request_path %>" title="<%= t('my_topics.is_empty.request_topic') %>" class="request-topic <%= 'disabled' if !logged_in? %> <%= 'active' if logged_in? %>">
                <strong><%= t('my_topics.is_empty.request_topic') %></strong>
              </a>
              <%= t('my_topics.is_empty.message') %>
            </p>
          </div>
        </div>
      <% else %>
        <ul class="topic-participation">

          <% @topics.each do |topic| %>
            <li class="border-all">
              <div class="topic-spotlight border-top-3">
                <div class="item-data">
                  <%= link_to topic.title, topic, :class => 'title' %>
                  <div>
                    <%= link_to topic.replies.size, topic, :class => 'responses' %>
                    <ul class="tags">
                      <% topic.tags.each_with_index do |tag, i| %>
                        <li class="<%= "last-tag" if i == topic.tags.length-1 %>">
                          <%= link_to tag, topic_tag_path(tag.id) %><%= ',' unless i == topic.tags.length-1 %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="topic-recent-historial border-bottom-3">
                <p class="collaborations"><%= t 'my_topics.grouped_topic.recent_participants', :count => topic.recent_participants.size %></p>
                <% if topic.recent_participants.length > 0 %>
                <ul class="small-avatars">
                  <% topic.recent_participants.each do |user| %>
                    <li>
                      <div class="avatar-wrapper">
                        <% if user %>
                          <%= link_to profile_path(user) do %>
                            <%= avatar_span(user, user.is_expert?, true, "24x24") %>
                          <% end %>
                          <%= render :partial => 'users/card', :locals => {:user => user} %>
                        <% else %>
                          <span class="avatar">
                            <%= image_tag(Avatar.default.url, :width => '24') %>
                          </span>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
         <h2><%= t('private_message.recently_participated') %></h2>
        <ul class="topic-participation">
          <% unless @user.recent_replies.empty? %>
            <% @user.recent_replies.each do |reply| %>
              <li class="border-all">
                <div class="topic-spotlight border-top-3">
                  <div class="item-data">
                    <%= link_to truncate(reply.topic.title, :length => 50), reply.topic %>
                  </div>
                </div>
              </li>
            <% end %>
          <% else %>
            <li><%= t 'private_message.no_activity' %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <br class="clear">
  </div>
</div>
