<% javascript 'user_panel' %>
<% stylesheet 'user_panel' %>
<div class="aligned panel border-all">
  <aside class="user-sb border-left">
    <div class="user-info inner-shadow">
      <div class="thumb"></div>
      <div class="user-details">
        <div class="username">navidsafa</div>
        <div class="points"><b><%= t('.sidebar.trusthworthy') %></b> <span><%= t('.sidebar.points', {:points => 150}) %></span></div>
        <div><input type="checkbox"> <%= t('.sidebar.use_avatar') %></div>
      </div>
    </div>
    <div class="white-area inner-shadow">  
      <section>
        <form >
          <div class="usr-sec-title">
            <hr>          
            <h2><%= t('.sidebar.profile.title') %></h2>
            <%= link_to nil, :class => "edit-lk edit-profile" do %>
              <span class="border-all"><span><%= t('.sidebar.profile.edit') %></span></span>
            <% end %>
          </div>
          <div class="user-edit welcome-wrapper"> 
            <div class="welcome">
              <p><b><%= t('.sidebar.profile.welcome') %></b></p>
              <p><%= t('.sidebar.profile.welcome_legend') %></p>
              <p class="enter-profile"><a href="#" class="btn-gradient"><%= t('.sidebar.profile.enter_profile') %></a></p>
            </div>
          </div>
          <ul class="user-edit hide"><!-- add class "hide" only if the user edits his profile for the 1st time-->
            <li>
              <div><%= t('.sidebar.profile.gender.label') %></div>
              <div>
                <span><%= t('.sidebar.profile.gender.male') %></span>
                <%= text_field :username, :required => "true" %>
              </div>                                                                                                     
            </li>                                                                                                        
            <li>             
              <div><%= t('.sidebar.profile.sexual_orientation') %></div>
              <div>
                <span>Gay</span>
                <%= text_field :username, :required => "true" %>
              </div>
            </li>
            <li>             
              <div><%= t('.sidebar.profile.age') %></div>
              <div>
                <span>34</span>
                <%= text_field :age, :required => "true" %>
              </div>
            </li>
            <li>             
              <div><%= t('.sidebar.profile.religion') %></div>
              <div>
                <span>Judaism</span>
                <%= text_field :username, :required => "true" %>
              </div>
            </li>
            <li>             
              <div><%= t('.sidebar.profile.place_birth') %></div>
              <div>
                <span>Iran</span>
                <%= text_field :username, :required => "true" %>
              </div>
            </li>
            <li>             
              <div><%= t('.sidebar.profile.political_view') %></div>
              <div>
                <span>Social democracy</span>
                <%= text_field :username, :required => "true" %>
              </div>
            </li>
            <li>
              <input type="submit" class="btn-gradient" value="<%= t('.sidebar.buttons.save') %>">
              <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">
            </li>
          </ul>
        </form>
      </section>
      <section>  
        <form>
          <div class="usr-sec-title">
            <hr>          
            <h2><%= t('.sidebar.password.title') %></h2>
            <%= link_to nil, :class => "edit-lk" do %>
              <span class="border-all"><span><%= t('.sidebar.password.edit') %></span></span>
            <% end %>
          </div>
          <ul class="user-edit passwords">
            <li>
                <div><%= t('.sidebar.password.new_password') %></div>
                <div>
                  <%= text_field :password, :required => "true" %>
                </div>
            </li>
            <li>
                <div><%= t('.sidebar.password.confirm_password') %></div>
                <div>
                  <%= text_field :confirm_password, :required => "true" %>
                </div>
            </li>            
            <li>
              <input type="submit" class="btn-gradient" value="<%= t('.sidebar.buttons.save') %>">
              <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">
            </li>
          </ul>
        </form>
      </section>
      <section>
        <form>
          <div class="usr-sec-title">
            <hr>
            <h2><%= t('.sidebar.my_account.title') %></h2>
            <%= link_to nil, :class => "edit-lk" do %>
              <span class="border-all"><span><%= t('.sidebar.my_account.edit') %></span></span>
            <% end %>
          </div>
          <ul class="user-edit">
            <li>
              <div><%= t('.sidebar.my_account.nickname') %></div>
              <div>
                <span>navidsafa</span>
                <%= text_field :username, :required => "true" %>
              </div>                                                                                                     
            </li>                                                                                                        
            <li>             
              <div><%= t('.sidebar.my_account.mail') %></div>
              <div>
                <span>navid@freshout.us</span>
                <%= text_field :username, :required => "true" %>
              </div>
            </li>
            <li>             
              <div><%= t('.sidebar.my_account.language') %></div>
              <div>
                <span>English</span>
                <%= text_field :username, :required => "true" %>
              </div>
            </li>
            <li>
              <input type="submit" class="btn-gradient" value="<%= t('.sidebar.buttons.save') %>">
              <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">
            </li>
          </ul>
        </form>
      </section>
      <p><%= link_to 'Terminate account', nil, :class => "terminate" %></p>    
    </div>
  </aside> 
  <section class="avatars-wrapper"> 
    <h2 class="regular"><%= t('.content.avatars.suggested') %></h2>
    <p class="loading"><%= image_tag 'loader.gif' %><br/><%= t('.content.avatars.loading') %></p>
  </section>
  <section> 
    <h2 class="regular"><%= t('.content.private_messages.title') %></h2>
    <ul class="bar opts border-all">
      <li><%= link_to 'Delete', nil, :class => "pm-delete" %></li>
      <li><%= link_to 'Block', nil, :class => "pm-block" %></li>
    </ul>      
    <ul class="messages">
      <li class="new">
        <input type="checkbox">
        <%= link_to "", nil, :class => "thumb" %>
        <ul class="msg-opts">
          <li><%= link_to t('.content.private_messages.delete'), nil, :class => "opt-delete"  %></li>          
          <li><%= link_to t('.content.private_messages.reply'), nil, :class => "opt-reply"  %></li>
        </ul>
        <div class="from"><%= link_to 'By LGBT admin' %> in June 22, 2010</div>
        <div class="msg">
          <p>Welcome navidsaf Sticks to cook yer!  What we got to do is to go as near as the ground'll let us, and then drive a trench...</p>
        </div>
      </li>
      <li>    
        <input type="checkbox">                    
        <%= link_to "", nil, :class => "thumb" %>
        <ul class="msg-opts">
          <li><%= link_to t('.content.private_messages.delete'), nil, :class => "opt-delete" %></li>          
          <li><%= link_to t('.content.private_messages.reply'), nil, :class => "opt-reply"  %></li>
        </ul>
        <div class="from"><%= link_to 'By Zahir00' %> in May 21, 2010</div>
        <div class="msg">
          <p>Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis...</p>
        </div>
      </li>     
    </ul>
    <div class="bar border-all"> 
      <div class="pagination">
        <div>
          <a href="#" class="arrow left"></a>
          <ul class="pag-numbers">
            <li class="active"><%= link_to '1' %></li>
            <li><%= link_to '2' %></li>
            <li><%= link_to '3' %></li>
            <li><%= link_to '4' %></li>
            <li><%= link_to '5' %></li>
            <li><%= link_to '...' %></li>
            <li><%= link_to '20' %></li>
          </ul>
          <a href="#" class="arrow right"></a>
        </div>
      </div>
    </div>
  </section>
  <section> 
    <h2 class="regular"><%= t('.content.private_messages.title') %></h2>
    <div class="bar-wrapper">
      <div class="bar border-all bar-private">
        <ul class="opts">
          <li><%= link_to 'Delete', nil, :class => "pm-delete" %></li>
          <li><%= link_to 'Block', nil, :class => "pm-block" %></li>
          <li><%= link_to 'Reply', nil, :class => "pm-reply" %></li><!-- This option will be hidden on the welcome private message -->                
        </ul> 
        <div class="bar-arrow down"><%= link_to 'Next', nil %></div>
        <div class="bar-arrow up active"><%= link_to 'Back', nil %></div>
      </div>
      <%= link_to 'Back to messages', nil, :class => "bar border-all back-to-msgs" %>
    </div>
    <div class="pm-details">
      <div class="pm-user">
        <div class="thumb">
          <%= link_to (image_tag 'no-image.jpg', :width => '55') %>
        </div>
        <div class="pm-user-details">
          <div><%= link_to "By Transcend admin" %></div>
          <div>in June 22, 2010</div>
        </div>
      </div>  
      <div class="pm-message">
        <p>Wellcome Yahir najar00 Sticks to cook yer!  What we got to do is to go as near as the ground'll let us, and then drive a trench.</p>
        <p>Then gazing at his quadrant, and handling, one after the other, its numerous cabalistical contrivances, he pondered again, and muttered:  "Foolish toy! babies' plaything of haughty Admirals, and asfefaesfsefcv  sdfs sefsfdfbdbg Commodores, and Captains; the world brags of thee, of thy cunning and might; but what after all canst thou do it lorem</p>
      </div>
    </div>
  </section>
</div>