<% head do %>
  <script type="text/javascript">
    var countries = <%= Country.all.map { |c| [c.id, c.name] }.inspect.html_safe %>;
  </script>
<% end %>
<% javascript 'ba-bbq', 'user_panel' %>
<% stylesheet 'user_panel' %>
<div class="aligned panel border-all"> 
  <div class="pm-panel border-all <%= "new-user" if current_user.profile.empty? %>">
      <section class="avatars-wrapper"> 
        <h2 class="regular"><%= t('.content.avatars.suggested') %></h2>
        <p class="loading"><%= image_tag 'loader.gif' %><br/><%= t('.content.avatars.loading') %></p>
        <section class='avatars-list'>
          <ul class="avatars suggested">                                                                            
            <li>
              <a href="#" class="custom-avatar border-all"><span><%= t('.content.avatars.custom_avatar') %></span></a>
            </li>
          </ul>
        </section>
      </section>
      <section id="pm-wrapper"> 
        <%= render :partial => 'inbox', :object => @messages %>
      </section>
  </div>
  <aside class="user-sb">
    <div class="user-sb-white border-left">
      <div class="user-profile">
        <%= avatar_span(current_user, false, false) %>
        <div class="user-details">
          <div class="username"><%= current_user.username %></div>
          <div class="points-wrapper">
              <span class="level border-left <%= level_css_class_for_user(current_user) %>"></span>
              <span class="points border-right"><%= t('.sidebar.points', {:points => current_user.score_board.current_points}) %></span>
          </div>
        </div>
      </div>                    
      <div class="edit-profile">
        <a href="#"><%= t('.sidebar.edit_profile') %></a>
      </div>
      <div class="white-area">
        <%= form_for current_user, :url => user_path, :html => { :method => :put, :class => 'edit-form profile' }, :remote => true do |user| %>        
          <section>      
            <% if current_user.profile.empty? %>
              <div class="new-user-msg yellow border-all">
                <h3><%= t('.sidebar.new_user.question') %></h3>
                <p><%= t('.sidebar.new_user.legend_st_line') %><br><%= t('.sidebar.new_user.legend_nd_line') %></p>
              </div>
            <% end %> 
            <%= user.fields_for :profile do |profile| %>
              <div class="usr-sec-title">
                <hr>          
                <h2><%= t('.sidebar.profile.title') %></h2>
              </div>
              <ul class="user-edit">
                <li>             
                  <div class="label"><%= UserProfile.human_attribute_name(:religion_id) %></div>
                  <div class="field">
                    <%= profile.collection_select :religion_id, Religion.all, :id, :name %>
                  </div>
                </li>
                <li>
                  <div class="label"><%= UserProfile.human_attribute_name(:gender_id) %></div>
                  <div class="field">
                    <%= profile.collection_select :gender_id, Gender.all, :id, :name %>
                  </div>                                                                                                     
                </li>                                                                                                        
                <li>             
                  <div class="label"><%= UserProfile.human_attribute_name(:sexual_orientation_id) %></div>
                  <div class="field">
                    <%= profile.collection_select :sexual_orientation_id, SexualOrientation.all, :id, :name %>
                  </div>
                </li>
                <li>             
                  <div class="label"><%= UserProfile.human_attribute_name(:age_id) %></div>
                  <div class="field">
                    <%= profile.collection_select :age_id, Age.all, :id, :range %>
                  </div>
                </li>
                <li>             
                  <div class="label"><%= UserProfile.human_attribute_name(:country_id) %></div>
                  <div class="field">
                    <%= text_field_tag :country_birth, current_user.profile.country %>
                    <%= profile.hidden_field :country_id, :class => 'country_id' %>
                  </div>
                </li>
                <li>             
                  <div class="label"><%= UserProfile.human_attribute_name(:political_view) %></div>
                  <div class="field">
                    <%= profile.collection_select :political_view_id, PoliticalView.all, :id, :name %>
                  </div>
                </li>
              </ul>
              <% end %>
              <br class="clear">
          </section>
          <section>  
              <div class="usr-sec-title">
                <hr>          
                <h2><%= t('.sidebar.password.title') %></h2>
              </div>   
              <ul class="user-edit passwords">
                <li>
                    <div class="label"><%= t('.sidebar.password.new_password') %></div>
                    <div class="field">
                      <%= user.password_field :password %>
                    </div>
                </li>
                <li>
                    <div class="label"><%= t('.sidebar.password.confirm_password') %></div>
                    <div class="field">
                      <%= user.password_field :password_confirmation %>
                      <p class="error"></p>
                    </div>
                </li>            
              </ul>
              <br class="clear">              
          </section>
          <section>
              <div class="usr-sec-title">
                <hr>
                <h2><%= t('.sidebar.my_account.title') %></h2>
              </div>
              <ul class="user-edit">
                <li>
                  <div class="label"><%= t('.sidebar.my_account.nickname') %></div>
                  <div class="field">
                    <label><%= current_user.username %></label>
                  </div>                                                                                                     
                </li>                                                                                                        
                <li>             
                  <div class="label"><%= t('.sidebar.my_account.mail') %></div>
                  <div class="field">
                    <%= user.email_field :email, :required => true %>
                  </div>
                </li>
                <li>             
                  <div class="label"><%= t('.sidebar.my_account.language') %></div>
                  <div class="field">
                    <%= user.fields_for :profile do |profile| %>
                      <%= profile.select :language, [[UserProfile.human_attribute_name(:en), 'en'], [UserProfile.human_attribute_name(:ar), 'ar']] %>
                    <% end %>
                  </div>
                </li>
                <li>
                  <div class="label"></div>
                  <div class="field">                                                                             
                    <input type="submit" class="auth-submit border-all" value="<%= t('.sidebar.buttons.save') %>">
                    <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">                                        
                  </div>
                </li>
              </ul>                           
              <br class="clear">              
          </section>
          <p><%= link_to t('.sidebar.terminate_account'), user_path, :class => "terminate", :method => :delete, :confirm => t('.sidebar.confirm_terminate') %></p>    
        <% end %>
      </div>
    </div>    
    <% if current_user.profile.empty? %>
      <div class="new-user-msg-wrapper">
        <div class="new-user-arrow"></div>
        <div class="new-user-msg dark border-all">
          <h3><%= t('.sidebar.new_user.question') %></h3>
          <p><%= t('.sidebar.new_user.legend_st_line') %><br><%= t('.sidebar.new_user.legend_nd_line') %></p>
        </div>
      </div>
    <% end %> 
  </aside>  
</div>
