<% head do %>
  <script type="text/javascript">
    var countries = <%= Country.all.map { |c| [c.id, c.name] }.inspect.html_safe %>;
  </script>
<% end %>
<% javascript 'user_panel' %>
<% stylesheet 'user_panel' %>
<div class="aligned panel border-all">
  <aside class="user-sb border-left">
    <div class="user-profile inner-shadow">
      <div class="thumb"><%= image_tag current_user.profile.avatar.url, :width => 50 %></div>
      <div class="user-details">
        <div class="username"><%= current_user.username %></div>
        <div class="points"><b><%= t('.sidebar.trusthworthy') %></b> <span><%= t('.sidebar.points', {:points => current_user.score_board.current_points}) %></span></div>
        <div><input type="checkbox"> <%= t('.sidebar.use_avatar') %></div>
      </div>
    </div>
    <div class="white-area inner-shadow">  
      <section>
      <%= form_for current_user, :url => user_path, :html => { :method => :put, :class => 'edit-form profile' }, :remote => true do |user| %>
        <%= user.fields_for :profile do |f| %>
          <div class="usr-sec-title">
            <hr>          
            <h2><%= t('.sidebar.profile.title') %></h2>
            <%= link_to '#', :class => "edit-lk edit-profile" do %>
              <span class="border-all"><span><%= t('.sidebar.profile.edit') %></span></span>
            <% end %>
          </div>
          <% if current_user.profile.empty? %>
            <div class="user-edit welcome-wrapper"> 
              <div class="welcome">
                <p><b><%= t('.sidebar.profile.welcome') %></b></p>
                <p><%= t('.sidebar.profile.welcome_legend') %></p>
                <p class="enter-profile"><a href="#" class="btn-gradient"><%= t('.sidebar.profile.enter_profile') %></a></p>
              </div>
            </div>
          <% end %>
          <ul class="user-edit <%= 'hide' if current_user.profile.empty? %>">
            <li>             
              <div><%= UserProfile.human_attribute_name(:religion_id) %></div>
              <div>
                <span class="user_profile_religion"><%= current_user.profile.religion %></span>
                <%= f.collection_select :religion_id, Religion.all, :id, :name %>
              </div>
            </li>
            <li>
              <div><%= UserProfile.human_attribute_name(:gender_id) %></div>
              <div>
                <span class="user_profile_gender"><%= current_user.profile.gender %></span>
                <%= f.collection_select :gender_id, Gender.all, :id, :name %>
              </div>                                                                                                     
            </li>                                                                                                        
            <li>             
              <div><%= UserProfile.human_attribute_name(:sexual_orientation_id) %></div>
              <div>
                <span class="user_profile_sexual_orientation"><%= current_user.profile.sexual_orientation %></span>
                <%= f.collection_select :sexual_orientation_id, SexualOrientation.all, :id, :name %>
              </div>
            </li>
            <li>             
              <div><%= UserProfile.human_attribute_name(:age_id) %></div>
              <div>
                <span class="user_profile_age"><%= current_user.profile.age %></span>
                <%= f.collection_select :age_id, Age.all, :id, :range %>
              </div>
            </li>
            <li>             
              <div><%= UserProfile.human_attribute_name(:country_id) %></div>
              <div>
                <span class="user_profile_country"><%= current_user.profile.country %></span>
                <%= text_field_tag :country_birth, current_user.profile.country %>
                <%= f.hidden_field :country_id, :class => 'country_id' %>
              </div>
            </li>
            <li>             
              <div><%= UserProfile.human_attribute_name(:political_view) %></div>
              <div>
                <span class="user_profile_political_view"><%= current_user.profile.political_view %></span>
                <%= f.collection_select :political_view_id, PoliticalView.all, :id, :name %>
              </div>
            </li>
            <li>
              <%= f.submit t('.sidebar.buttons.save'), :class => 'btn-gradient' %>
              <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">
            </li>
          </ul>
          <% end %>
        <% end %>
      </section>
      <section>  
        <%= form_for current_user, :url => user_path, :html => { :method => :put, :class => 'edit-form password' }, :remote => true do |f| %>
          <div class="usr-sec-title">
            <hr>          
            <h2><%= t('.sidebar.password.title') %></h2>
            <%= link_to nil, :class => "edit-lk" do %>
              <span class="border-all"><span><%= t('.sidebar.password.edit') %></span></span>
            <% end %>
          </div>   
          <ul class="user-edit passwords">
            <li>
                <div><%= t('.sidebar.password.new_password') %></div>
                <div>
                  <%= f.password_field :password %>
                </div>
            </li>
            <li>
                <div><%= t('.sidebar.password.confirm_password') %></div>
                <div>
                  <%= f.password_field :password_confirmation %>
                  <p class="error"></p>
                </div>
            </li>            
            <li>
              <%= f.submit t('.sidebar.buttons.save'), :class => 'btn-gradient' %>
              <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">
            </li>
          </ul>
        <% end %>
      </section>
      <section>
        <form action="#" method="post" class="edit-form account">
          <div class="usr-sec-title">
            <hr>
            <h2><%= t('.sidebar.my_account.title') %></h2>
            <%= link_to nil, :class => "edit-lk" do %>
              <span class="border-all"><span><%= t('.sidebar.my_account.edit') %></span></span>
            <% end %>
          </div>
          <ul class="user-edit">
            <li>
              <div><%= t('.sidebar.my_account.nickname') %></div>
              <div>
                <span>navidsafa</span>
                <%= text_field :nickname, :required => "true" %>
              </div>                                                                                                     
            </li>                                                                                                        
            <li>             
              <div><%= t('.sidebar.my_account.mail') %></div>
              <div>
                <span>navid@freshout.us</span>
                <%= text_field :mail, :required => "true" %>
              </div>
            </li>
            <li>             
              <div><%= t('.sidebar.my_account.language') %></div>
              <div>
                <span>English</span>
                <%= text_field :language, :required => "true" %>
              </div>
            </li>
            <li>
              <input type="submit" class="btn-gradient" value="<%= t('.sidebar.buttons.save') %>">
              <input type="button" class="cancel" value="<%= t('.sidebar.buttons.cancel') %>">
            </li>
          </ul>
        </form>
      </section>
      <p><%= link_to t('.sidebar.terminate_account'), nil, :class => "terminate" %></p>    
    </div>
  </aside> 
  <section class="avatars-wrapper"> 
    <h2 class="regular"><%= t('.content.avatars.suggested') %></h2>
    <p class="loading"><%= image_tag 'loader.gif' %><br/><%= t('.content.avatars.loading') %></p>
  </section>
  <section> 
    <h2 class="regular"><%= t('.content.private_messages.title') %></h2>
    <ul class="bar opts border-all">
      <li><%= link_to 'Delete', nil, :class => "pm-delete" %></li>
      <li><%= link_to 'Block', nil, :class => "pm-block" %></li>
    </ul>      
    <ul class="messages">
      <li class="new">
        <input type="checkbox">
        <%= link_to "", nil, :class => "thumb" %>
        <ul class="msg-opts">
          <li><%= link_to t('.content.private_messages.delete'), nil, :class => "opt-delete"  %></li>          
          <li><%= link_to t('.content.private_messages.reply'), nil, :class => "opt-reply"  %></li>
        </ul>
        <div class="from"><%= link_to 'By LGBT admin' %> in June 22, 2010</div>
        <div class="msg">
          <p>Welcome navidsaf Sticks to cook yer!  What we got to do is to go as near as the ground'll let us, and then drive a trench...</p>
        </div>
      </li>
      <li>    
        <input type="checkbox">                    
        <%= link_to "", nil, :class => "thumb" %>
        <ul class="msg-opts">
          <li><%= link_to t('.content.private_messages.delete'), nil, :class => "opt-delete" %></li>          
          <li><%= link_to t('.content.private_messages.reply'), nil, :class => "opt-reply"  %></li>
        </ul>
        <div class="from"><%= link_to 'By Zahir00' %> in May 21, 2010</div>
        <div class="msg">
          <p>Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis...</p>
        </div>
      </li>     
    </ul>
    <div class="bar border-all"> 
      <div class="pagination">
        <div>
          <a href="#" class="arrow left"></a>
          <ul class="pag-numbers">
            <li class="active"><%= link_to '1' %></li>
            <li><%= link_to '2' %></li>
            <li><%= link_to '3' %></li>
            <li><%= link_to '4' %></li>
            <li><%= link_to '5' %></li>
            <li><%= link_to '...' %></li>
            <li><%= link_to '20' %></li>
          </ul>
          <a href="#" class="arrow right"></a>
        </div>
      </div>
    </div>
  </section>
  <section> 
    <h2 class="regular"><%= t('.content.private_messages.title') %></h2>
    <div class="bar-wrapper">
      <div class="bar border-all bar-private">
        <ul class="opts">
          <li><%= link_to 'Delete', nil, :class => "pm-delete" %></li>
          <li><%= link_to 'Block', nil, :class => "pm-block" %></li>
          <li><%= link_to 'Reply', nil, :class => "pm-reply" %></li><!-- This option will be hidden on the welcome private message -->
        </ul> 
        <div class="bar-arrow down"><%= link_to 'Next', nil %></div>
        <div class="bar-arrow up active"><%= link_to 'Back', nil %></div>
      </div>
      <%= link_to 'Back to messages', nil, :class => "bar border-all back-to-msgs" %>
    </div>
    <div class="pm-details">
      <div class="pm-user">
        <div class="thumb">
          <%= link_to (image_tag 'no-image.jpg', :width => '55') %>
        </div>
        <div class="pm-user-details">
          <div><%= link_to "By Transcend admin" %></div>
          <div>in June 22, 2010</div>
        </div>
      </div>  
      <div class="pm-message">
        <p>Welcome Yahir najar00 Sticks to cook yer!  What we got to do is to go as near as the ground'll let us, and then drive a trench.</p>
        <p>Then gazing at his quadrant, and handling, one after the other, its numerous cabalistical contrivances, he pondered again, and muttered:  "Foolish toy! babies' plaything of haughty Admirals, and asfefaesfsefcv  sdfs sefsfdfbdbg Commodores, and Captains; the world brags of thee, of thy cunning and might; but what after all canst thou do it lorem</p>
      </div>
    </div>
    <div class="pm-details"><!-- The welcome private message doesn't have responses-->
      <div class="pm-user-response"><%= link_to "navidsafa" %> in June 22, 2010</div>
      <div class="pm-message response">
        <p>Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est.</p>
      </div>
    </div>
    <div class="new-response response-wrapper"><!-- This div will be hidden on the welcome private message -->
      <div>
        <a href="#">New Response</a>
      </div>
    </div>
  </section>
</div>
