<% javascript 'user-nav' %>
<% if @user == current_user %>
  <aside class="panel-sub-nav">
    <ul class="sub-nav">
      <li class="<%= 'active' if current_page?(stream_path) %>">
        <%= link_to stream_path, :class => 'stream' do %>
          <span class="icon"></span>
          <%= t '.stream' %>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(inbox_user_path) %>">
        <%= link_to inbox_user_path, :class => 'messages' do %>
          <span class="icon"></span>
          <%= t '.messages' %>
          <span class="badge"><%= current_user.received_messages.unread.size %></span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?(my_topics_path) %>">
        <%= link_to my_topics_path, :class => 'my-topics' do %>
          <span class="icon"></span>
          <%= t '.my_topics' %>
        <% end %>
      </li>
    </ul>
  </aside>
<% else %>
  <aside class="panel-sub-nav user-info-wrapper border-all container-soft-box-shadow">
     <div class="avatar-wrapper">
        <%= avatar_span(@user, @user.is_expert?, false, "34x34") %>
      </div>
      <div class="user-info">
         <h2 class="username"><%= @user.username.html_safe %></h2>
         <div class="user-points small-hearts">
            <span class="level <%= level_css_class_for_user(@user) %>"></span>
            <span class="points"><%= @user.score_board.current_points %></span>
        </div>
      </div>
      <% unless !logged_in? %>
      <a href="#" title="<%= t 'stream.sidebar.send_message' %>" class="send-msg border-bottom js-stream-send-msg">
        <span></span>
        <%= t 'stream.sidebar.send_message' %>
      </a>
      <div class="private-msg send-from-stream border-all">
        <span class="origin">
          <span>
            <span></span>
          </span>
        </span>
        <form class="form-private-msg">
          <div class="flash-privacy">
            <div class="border-all"><%=  t('private_message.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
          </div>
          <textarea class="border-all" placeholder="<%= t('private_message.write_msg') %>"></textarea>
          <div class="private-msg-btns">
            <%= link_to t('private_message.cancel'), '#', :class => 'cancel' %>
           <input id="private_message_submit" class="btn-gradient" type="submit" value="Submit" name="commit">
          </div>
        </form>
      </div>
      
      <% end %>
  </aside>
<% end %>