<% topic = grouped_topic %>
<li>
  <div class="topic-spotlight border-top-3">
    <div class="avatar-wrapper">
      <% if logged_in? %>
        <%= link_to profile_path(topic.user) do %>
          <%= avatar_span(topic.user, topic.user.is_expert?, true, "42x42") %>
        <% end %>
      <% else %>
        <%= avatar_span(topic.user, topic.user.is_expert?, true, "42x42") %>
      <% end %>
      <%= render :partial => 'users/card', :locals => {:user => topic.user} %>
    </div>
    <div class="item-data">
      <%= link_to topic.title, topic, :class => 'title dark-lk' %>
      <div>
        <span class="by-author"><%= t('.by', :author => topic.user.username) %></span>
        <%= link_to topic.all_replies.size, topic, :class => 'responses' %>
        <ul class="tags">
          <% topic.tags.each_with_index do |tag, i| %>
            <li class="<%= "last-tag" if i == topic.tags.length-1 %>">
              <%= link_to tag, topic_tag_path(tag.id) %><%= ',' unless i == topic.tags.length-1 %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="topic-recent-historial border-bottom-3">
    <p class="collaborations"><%= t '.recent_participants', :count => topic.recent_participants.size %></p>
    <% if topic.recent_participants.length > 0 %>
    <ul class="small-avatars">
      <% topic.recent_participants.each do |user| %>
        <li>
          <div class="avatar-wrapper">
            <% if user %>
              <% if logged_in? %>
                <%= link_to profile_path(topic.user) do %>
                  <%= avatar_span(user, user.is_expert?, true, "24x24") %>
                <% end %>
              <% else %>
                <%= avatar_span(user, user.is_expert?, true, "24x24") %>
              <% end %>
              <%= render :partial => 'users/card', :locals => {:user => user} %>
            <% else %>
              <span class="avatar">
                <%= image_tag(Avatar.default.url, :width => '24') %>
              </span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</li>
