<% topic = grouped_topic %>
<li class="border-all">
  <div class="topic-spotlight border-top-3">
    <div class="avatar-wrapper" style="z-index: <%= leng - grouped_topic_counter %>">
      <%= avatar_span(topic.user, topic.user.is_expert?) %>
      <%= render :partial => 'users/card', :locals => {:user => topic.user} %>
    </div>
    <div class="item-data">
      <%= link_to topic.title, topic, :class => 'title dark-lk' %>
      <div>
        <span class="by-author"><%= t('.popular.by', :author => topic.user.username).html_safe %></span>
        <%= link_to topic.replies.size, topic, :class => 'responses' %>
        <ul class="tags">
          <% topic.tags.each_with_index do |tag, i| %>
            <li class="<%= "last-tag" if i == topic.tags.length-1 %>">
              <%= link_to tag, topic_tag_path(tag.id) %><%= ',' unless i == topic.tags.length-1 %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="topic-recent-historial border-bottom-3">
    <p class="collaborations">7 people have participated in this topic in the past 2 days</p>
    <ul class="small-avatars">
      <li>
        <div class="avatar-wrapper">
          <span class="avatar red-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
      <li>
        <div class="avatar-wrapper">
          <span class="avatar green-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
      <li>
        <div class="avatar-wrapper">
          <span class="avatar blue-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
      <li>
        <div class="avatar-wrapper">
          <span class="avatar red-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
      <li>
        <div class="avatar-wrapper">
          <span class="avatar blue-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
      <li>
        <div class="avatar-wrapper">
          <span class="avatar green-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
      <li>
        <div class="avatar-wrapper">
          <span class="avatar blue-heart">
            <img width="24" height="24" src="/images/avatars/35-50_F_W_H1_F3.png?1313794155" alt="35-50_f_w_h1_f3">
          <span></span>
          </span>
        </div>
      </li>
    </ul>
  </div>
</li>