<% stylesheet 'index' %>

<div class="aligned">  
  <section>
    <hgroup class="slogan">
      <h1><%= t('.title') %></h1>
      <h2><%= t('.legend') %></h2>
    </hgroup>                                                                    
    <ul class="features">
      <li id="anonymity" class="feature-wrapper">
        <div>
          <div>                                   
            <div class="feature border-all"><%= link_to image_tag "illustration.png", :alt => 'Mantain your anonymity' %></div>
            <h2>Value Proposition 01</h2>
          </div>
        </div>
      </li>
      <li id="community" class="feature-wrapper">
        <div>
          <div>
            <div class="feature border-all"><%= link_to image_tag "illustration.png", :alt => 'Support your community' %></div>
            <h2>Value Proposition 02</h2>
          </div>
        </div>
      </li>
      <li id="trustworthy" class="feature-wrapper">
        <div>
          <div>
            <div class="feature border-all"><%= link_to image_tag "illustration.png", :alt => 'Find help from trustworthy people!' %></div>
            <h2>Value Proposition 03</h2>            
          </div>
        </div>
      </li>
      <li id="join" class="border-all">
         <%= link_to '#', :class => 'sign-up-btn' do %>
             <span class="join-st-line"><%= t('.join_now') %></SPAN>
             <span class="join-nd-line"><%= t('.get_started') %></span>
          <% end%>         
      </li>
    </ul>
  </section>       
  <div class="items-wrapper">
    <section class="topics">
      <h2><%= t('.popular_topics') %></h2>
      <ul class="items topic-avatars">
        <%= render @popular %>
      </ul>
    </section>
    <section class="feeds">
      <h2><%= t('.feeds') %></h2>
      <ul class="items topic-avatars">
        <% @latest.each do |reply| %>
          <li>
            <%# TODO: Refactor this unless %>
            <div class="avatar-wrapper">
              <span class="avatar <% 'expert' if reply.from_expert? %>">
              <%= image_tag(reply.author_avatar, :width => '50') %>
              </span>
              <% unless reply.anonymous? %>
                <%= render :partial => 'users/card', :locals => {:user => reply.user} %>
              <% end %>
            </div>
            <div class="item-data">
              <p>
                <%# TODO: Refactor this unless %>
                <% unless reply.anonymous? %>
                  <%= t('.latest.has_left_a_comment', :author => link_to_unless(reply.anonymous?, reply.author_username, '#', :class => 'dark-lk'), :comment => link_to(reply.i18n_category, reply.topic, :class => 'dark-lk'), :topic => link_to(reply.topic.title, reply.topic)).html_safe %>
                <% else %>
                  <%= t('.latest.has_left_a_comment', :author => reply.author_username, :comment => link_to(reply.i18n_category, reply.topic, :class => 'dark-lk'), :topic => link_to(reply.topic.title, reply.topic)).html_safe %>
                <% end %>
              </p>
              <p class="feed-date"><%= t 'helpers.ago', :time => time_ago_in_words(reply.created_at) %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
    <br class="clear">
  </div>
</div>
