<% javascript 'comments', 'slideshow', 'sitescript'%>
<div class="aligned">  
  <section>
    <hgroup class="slogan">
      <h1>LGBT</h1>
      <h2>Supporting tagline will live here and it should be about this long</h2>
    </hgroup>                                                                    
    <ul class="features">
      <li><%= link_to 'Mantain your anonymity' %></li>
      <li><%= link_to 'Support your community' %></li>
      <li><%= link_to 'Find help from trustworthy people!' %></li>
      <li><%= link_to 'Join And get Started!' %></li>      
    </ul>
  </section>       
  <div class="items">
    <section>
      <h2>MOST POPULAR TOPICS</h2>
      <ul>
        <li>              
          <%= image_tag "no-image.jpg", :width => '20'%>
          <%= link_to 'How can i tell my religious parents that i am bisexual?' %>
          By <%= link_to 'Youssef' %>
          <ul class="tags">
            <li><%= link_to 'Bisexual' %></li>
            <li><%= link_to 'Other' %></li>
            <li><%= link_to 'HIV/AIDS' %></li>
          </ul>                               
          <%= link_to '50 Answers' %>
        </li>
        <li>
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Should I tell my parents that I am bisexual?' %>
          By <%= link_to 'LGBT' %>
          <ul class="tags">
            <li><%= link_to 'Bisexual' %></li>
            <li><%= link_to 'Other' %></li>
            <li><%= link_to 'HIV/AIDS' %></li>
          </ul>                               
          <%= link_to '46 Answers' %>
        </li>
        <li>              
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Should I tell my parents that I am bisexual?' %>
          By <%= link_to 'Shihab' %>
          <ul class="tags">
            <li><%= link_to 'Bisexual' %></li>
            <li><%= link_to 'Transgender' %></li>
            <li><%= link_to 'HIV/AIDS' %></li>
          </ul>                               
          <%= link_to '30 Answers' %>
        </li>
        <li>            
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'My Son, admitted he is a homosexual. How do I react? Should i tell her father?' %>
          By <%= link_to 'Shihab' %>
          <ul class="tags">
            <li><%= link_to 'Gay' %></li>
            <li><%= link_to 'HIV/AIDS' %></li>
          </ul>                               
          <%= link_to '26 Answers' %>
        </li>
        <li>        
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Im gay and my best friend isn\'t' %>
          By <%= link_to 'Shihab' %>
          <ul class="tags">
            <li><%= link_to 'Gay' %></li>
            <li><%= link_to 'Friends' %></li>
          </ul>                               
          <%= link_to '20 Answers' %>
        </li>      
      </ul>
    </section>
    <section>
      <h2>WHAT'S HAPPENING NOW</h2>
      <ul>
        <li>
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Youssef has left a ADVICE on How to tell my parent im gay?' %>. 15 minutes ago
        </li>
        <li>
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Youssef has left a ADVICE on How to tell my parent im gay?' %>. 15 minutes ago
        </li>
        <li>
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Youssef has left a ADVICE on How to tell my parent im gay?' %>. 15 minutes ago
        </li>
        <li>
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Youssef has left a ADVICE on How to tell my parent im gay?' %>. 15 minutes ago
        </li>
        <li>
          <%= image_tag "no-image.jpg", :width => '20'%>          
          <%= link_to 'Youssef has left a ADVICE on How to tell my parent im gay?' %>. 15 minutes ago
        </li>      
      </ul>
    </section>
  </div>
  <footer> 
    All Rights Reserved 2010
    <ul>
      <li><%= link_to 'About' %></li>
      <li><%= link_to 'Privacy Policy' %></li>      
    </ul>
  </footer>
</div>
<div style="padding-top: 50px; clear: both"></div>
<div class="aligned">  
  <div class="experts-carrousel">
    <ul>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
    </ul>
  </div>       
  <div class="arrows">                  
    <span class="back">Back</span>
	  <span class="next">Next</span>		  
	</div>
  <article>
    <h1>Select Text</h1>
    <p id="parag">Lorem Ipsum is simply <b>dummy</b> text of the <a class="has_comments" id="comments_1_link">printing and typesetting industry<sup>10</sup>.</a> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s; when an unknown printer took a galley of type and scrambled it to make a type <a class="has_comments" id="comments_2_link">specimen book<sup>10</sup></a>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages??, and more recently with desktop? publishing software like Aldus PageMaker! including versions of Lorem Ipsum...</p>
  </article>
  <ul>
    <li><input type="checkbox" checked>show comments marks</li>
  </ul>
</div>   
<form id="add_comments" class="add_comments" action="#">
  <p>
    <label>Comment</label>
    <textarea></textarea>
  </p>
</form>
<ul class="comments" id="comments_1">
  <li>
    <p>These are the comments of the 1st highlight, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ul>
      <li>
        <p>This is a nested comment</p>
      </li>
    </ul>
  </li>
</ul>
<ul class="comments" id="comments_2">
  <li>
    <p>These are the comments of the 2nd highlight, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ul>
      <li>
        <p>This is a nested comment</p>
      </li>
    </ul>
  </li>
</ul>
