<% javascript 'comments', 'slideshow', 'sitescript'%>
<div class="aligned">     
  <div class="experts-carrousel">
    <ul>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
      <li><a href="#"><%= image_tag "no-image.jpg" %></a></li>
    </ul>
  </div>       
  <div class="arrows">                  
    <span class="back">Back</span>
	  <span class="next">Next</span>		  
	</div>
  <article>
    <h1>Select Text</h1>
    <p id="parag">Lorem Ipsum is simply <b>dummy</b> text of the <a class="has_comments" id="comments_1_link">printing and typesetting industry<sup>10</sup>.</a> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s; when an unknown printer took a galley of type and scrambled it to make a type <a class="has_comments" id="comments_2_link">specimen book<sup>10</sup></a>. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages??, and more recently with desktop? publishing software like Aldus PageMaker! including versions of Lorem Ipsum...</p>
  </article>
  <ul>
    <li><input type="checkbox" checked>show comments marks</li>
  </ul>
</div>   
<form id="add_comments" class="add_comments" action="#">
  <p>
    <label>Comment</label>
    <textarea></textarea>
  </p>
</form>
<ul class="comments" id="comments_1">
  <li>
    <p>These are the comments of the 1st highlight, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ul>
      <li>
        <p>This is a nested comment</p>
      </li>
    </ul>
  </li>
</ul>
<ul class="comments" id="comments_2">
  <li>
    <p>These are the comments of the 2nd highlight, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <ul>
      <li>
        <p>This is a nested comment</p>
      </li>
    </ul>
  </li>
</ul>
