<% stylesheet 'index' %>

<div class="aligned">  
  <section>
    <hgroup class="slogan">
      <h1><%= t('.title') %></h1>
      <h2><%= t('.legend') %></h2>
    </hgroup>      
    <div class="watch-video"> 
      <div>
        <a href="#" class="border-all"><span><%= t('.watch_video')%></span></a>
      </div>
    </div>
    <ul class="features">
      <li id="anonymity" class="feature-wrapper">
        <div class="feature-image"><%= image_tag 'feature-private.png', :width => "302", :height => "186"%></div>
        <h2><%= t('.private') %></h2>
        <p><%= t('.choose') %></p>
      </li>
      <li id="community" class="feature-wrapper">
        <div class="feature-image"><%= image_tag 'feature-engaging.png', :width => "287", :height => "188"%></div>
        <h2><%= t('.engaging') %></h2>
        <p><%= t('.share') %></p>
      </li>
      <li id="trustworthy" class="feature-wrapper last-feature">
        <div class="feature-image"><%= image_tag 'feature-positive.png', :width => "302", :height => "186"%></div>
        <h2><%= t('.positive') %></h2>
        <p><%= t('.offer') %></p>
      </li>
    </ul>
  </section>       
  <div class="items-wrapper">
    <section class="topics">
      <h2><%= t('.popular_topics') %></h2>
      <ul class="items topic-avatars">
        <%= render :partial => @popular, :locals => {:leng => @popular.length} %>
      </ul>
    </section>
    <section class="feeds">
      <h2><%= t('.feeds') %></h2>
      <ul class="items topic-avatars">
        <% @latest.each_with_index do |reply, i| %>
          <li>
            <div class="avatar-wrapper" style="z-index: <%= @latest.length - i %>">
              <% unless reply.anonymous? %>
                <%= avatar_span(reply.user, reply.user.is_expert?) %>
              <% else %>
                <span class="avatar">
                  <%= image_tag(reply.author_avatar, :width => '56') %>
                </span>
              <% end %>  
              <% unless reply.anonymous? %>
                <%= render :partial => 'users/card', :locals => {:user => reply.user} %>
              <% end %>
            </div>
            <div class="item-data">
              <p>
              <%= t('.latest.has_left_a_comment', :author => reply.author_username, :comment => link_to(reply.i18n_category, reply.topic, :class => 'dark-lk'), :topic => link_to(reply.topic.title, reply.topic)).html_safe %>
              </p>
              <p class="feed-date"><%= t 'helpers.ago', :time => time_ago_in_words(reply.created_at) %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
    <br class="clear">
  </div>
</div>
