<% stylesheet 'index' %>

<div class="aligned">  
  <section>
    <hgroup class="slogan">
      <h1><%= t('.title') %></h1>
      <h2><%= t('.legend') %></h2>
    </hgroup>                                                                    
    <ul class="features">
      <li id="anonymity" class="feature-wrapper">
        <div>
          <div>                                   
            <div class="feature border-all"><%= link_to image_tag "illustration.png", :alt => 'Mantain your anonymity' %></div>
            <h2>Value Proposition 01</h2>
          </div>
        </div>
      </li>
      <li id="community" class="feature-wrapper">
        <div>
          <div>
            <div class="feature border-all"><%= link_to image_tag "illustration.png", :alt => 'Support your community' %></div>
            <h2>Value Proposition 02</h2>
          </div>
        </div>
      </li>
      <li id="trustworthy" class="feature-wrapper">
        <div>
          <div>
            <div class="feature border-all"><%= link_to image_tag "illustration.png", :alt => 'Find help from trustworthy people!' %></div>
            <h2>Value Proposition 03</h2>            
          </div>
        </div>
      </li>
      <li id="join" class="border-all">
         <%= link_to '#', :class => 'sign-up-btn' do %>
             <span class="join-st-line"><%= t('.join_now') %></SPAN>
             <span class="join-nd-line"><%= t('.get_started') %></span>
          <% end%>         
      </li>
    </ul>
  </section>       
  <div class="items-wrapper">
    <section class="topics">
      <h2><%= t('.popular_topics') %></h2>
      <ul class="items">
        <% @popular.each do |topic| %>
          <li>              
            <%= link_to image_tag(topic.user.profile.avatar.url, :width => '43'), topic, :class => 'item-img' %>
            <div class="item-data">
              <%= link_to topic.title, nil, :class => 'dark-lk' %>
              <div>            
                <%= t('.popular.by') %> <%= link_to topic.user.username, topic.user %>
                <ul class="tags">
                  <% topic.tags.each do |tag| %>
                    <li><%= link_to tag, topic_tag_path(tag.name) %></li>
                  <% end %>
                </ul>                                                                         
                <%= link_to pluralize(topic.replies.size, t('.popular.response')), nil, :class => "responses"  %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
    <section class="feeds">
      <h2><%= t('.feeds') %></h2>
      <ul class="items">
        <% @latest.each do |reply| %>
          <li>
            <%= link_to_unless reply.anonymous?, image_tag(reply.author_avatar, :width => '43'), reply.user, :class => 'item-img' %>          
            <div class="item-data">
              <p>
                <%= t('.latest.has_left_a_comment', :author => link_to_unless(reply.anonymous?, reply.author_username, reply.user, :class => 'dark-lk'), :comment => link_to(reply.i18n_category, reply.topic, :class => 'dark-lk'), :topic => link_to(reply.topic.title, reply.topic)).html_safe %>
              </p>
              <p class="feed-date"><%= t 'helpers.ago', :time => time_ago_in_words(reply.created_at) %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</div>
