<% stylesheet 'stream', 'uniform.default' %>
<% javascript 'stream', 'include/jquery.uniform.min' %>

<div class="aligned">
  <div class="content stream-wrapper">
    <%= render :partial => 'shared/user_nav' %>
    <div class="right-side border-all container-soft-box-shadow">
      <section class="streams border-left">
        <div class="stream-title header-title-bg border-all">
          <h2><%= t 'stream.stream' %></h2>
          <div class="filter">
            <%= form_tag "/stream/#{params[:username]}", :method => 'get', :class => 'filter-stream' do %>
              <label><%= t 'stream.forms.labels.filter' %></label>
              <%= select_tag :filter, options_for_select(stream_filter_options(@user), params[:filter]), :id => nil %>
            <% end %>
          </div>
        </div>
        <div class="stream-items-wrapper">
          <%= render @stream %>
        </div>
        <% if @stream_messages.current_page < @stream_messages.total_pages %>
          <p class="load-more-wrapper">
            <%= link_to stream_path(:page => (params[:page] || 1).succ, :format => :js), :remote => true, :class => 'clean-button border-all' do %>
              <span class="more-stream border-all">View More</span>
            <% end %>
          </p>
        <% end %>
      </section>
      <section class="recommended-topics">
        <% unless @recommended.empty? %>
          <h3><%= t 'stream.sidebar.recommended_topics' %></h3>
          <ul>
            <% @recommended.each do |topic| %>
              <li class="border-all">
                <%= link_to topic.title, topic %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <h3><%= t 'stream.sidebar.newest_topics' %></h3>
        <ul>
          <% @newest.each do |topic| %>
            <li class="border-all">
              <%= link_to topic.title, topic %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
    <br class="clear">
  </div>
</div>
