<% stylesheet 'stream' %>
<% javascript 'stream' %>

<div class="aligned">
  <div class="content stream-wrapper">
    <aside class="panel-sub-nav">
      <ul class="sub-nav">
        <li class="active">
          <a href="#" title="Stream" class="stream">
            <span class="icon"></span>
            Stream
          </a>
        </li>
        <li>
          <a href="#" title="Messages" class="messages">
            <span class="icon"></span>
            Messages
            <span class="badge">6</span>
          </a>
        </li>
        <li>
          <a href="#" title="My Topics" class="my-topics">
            <span class="icon"></span>
            My Topics
          </a>
        </li>
      </ul>
    </aside>
    <div class="right-side border-all container-soft-box-shadow">
      <section class="streams border-left">
        <div class="stream-title">
          <h2>Stream</h2>
          <div class="filter">
            <%= form_tag '/stream', :method => 'get', :class => 'filter-stream' do %>
              <%= select_tag :filter, options_for_select([['All Topics', 'all'], ['Followed Topics', 'followed'], ['My Topics', 'owned']], params[:filter]), :id => nil %>
            <% end %>
          </div>
        </div>
        <div class="stream-items-wrapper">
          <% @stream.each do |message| %>
          <div class="stream-item">
            <div class="avatar-wrapper">
              <%= avatar_span(message.reply.user, message.reply.user.is_expert?) %>
              <%= render :partial => 'users/card', :locals => {:user => message.reply.user} %>
            </div>
            <div class="stream-item-data">
              <div>
                <span class="user-comment"><%= message.title %></span>
                <span class="time-ago"><%= time_ago_in_words message.reply.created_at %></span>
                <br class="clear" />
              </div>
              <p class="title"><%= link_to message.reply.topic.title, message.reply.topic %></p>
              <blockquote>
                 <%= simple_format truncate(message.reply.content, :length => 140) %>
              </blockquote>
            </div>
            <br class="clear" />
          </div>
          <% end %>
        </div>
      </section>
      <section class="recommended-topics">
        <h3>Recommended Topics</h3>
        <ul>
          <li class="border-all">
            <a href="#" title="How can I tell my religious parents that I am bisexual">How can I tell my religious parents that I am bisexual?</a>
          </li>
          <li class="border-all">
            <a href="#" title="">I had a homophobic family so I moved out</a>
          </li>
          <li class="border-all">
            <a href="#" title="">Welcome to Ahwaa!</a>
          </li>
        </ul>
        <h3>Newest Topics</h3>
        <ul>
          <li class="border-all">
            <a href="#" title="Can come up with one... it's too broad">Can come up with one&hellip; it's too broad</a>
          </li>
          <li class="border-all">
            <a href="#" title="">Worried about what lies ahead</a>
          </li>
          <li class="border-all">
            <a href="#" title="">I just wanna do it</a>
          </li>
          <li class="border-all">
            <a href="#" title="">Worried about the wel being of my family</a>
          </li>
          <li class="border-all">
            <a href="#" title="">Are abrahamic religions all against homosexuality?</a>
          </li>
        </ul>
      </section>
    </div>
    <br class="clear">
  </div>
</div>