<% stylesheet 'stream' %>
<% javascript 'stream' %>

<div class="aligned">
  <div class="content stream-wrapper">
    <aside>
      <ul class="sub-nav">
        <li class="active">
          <a href="#" title="Stream" class="stream">
            <span class="icon"></span>
            Stream
          </a>
        </li>
        <li>
          <a href="#" title="Messages" class="messages">
            <span class="icon"></span>
            Messages
            <span>6</span>
          </a>
        </li>
        <li>
          <a href="#" title="My Topics" class="my-topics">
            <span class="icon"></span>
            My Topics
          </a>
        </li>
      </ul>
    </aside>
    <div class="right-side border-all container-soft-box-shadow">
      <section class="streams border-left">
        <div class="stream-title">
          <h2>Stream</h2>
          <p class="order">
            <%= form_tag '/stream', :method => 'get', :class => 'filter-stream' do %>
              <%= select_tag :filter, options_for_select([['All Topics', 'all'], ['Followed Topics', 'followed'], ['My Topics', 'owned']], params[:filter]), :id => nil %>
            <% end %>
            <% @stream.each do |message| %>
              <p><%= message.title %></p>
              <h3><%= link_to message.reply.topic.title, message.reply.topic %></h3>
              <%= simple_format truncate(message.reply.content, :length => 140) %>
            <% end %>
          </p>
        </div>
        <div class="">
        </div>
      </section>
    </div>
    <br class="clear">
  </div>
</div>