<% stylesheet 'stream', 'vendor/uniform.default' %>
<% javascript 'stream', 'include/jquery.uniform.min' %>

<div class="aligned">
  <div class="content stream-wrapper">
    <%= render :partial => 'shared/user_nav' %>
    <div class="right-side border-all container-soft-box-shadow" data-hansel-container-id="user-stream">
      <section class="streams border-left">

        <div class="stream-title header-title-bg border-all">
          <h2><%= t 'stream.stream' %></h2>
          <% if @user == current_user %>
            <div class="filter">
              <%= form_tag "/stream/#{params[:username]}", :method => 'get', :class => 'filter-stream' do %>
                <label><%= t 'stream.forms.labels.filter' %></label>
                <%= select_tag :filter, options_for_select(stream_filter_options(@user), params[:filter]), :id => nil %>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if @stream.count == 0 && params[:filter] != 'owned' %>
          <div class="is-empty">
            <%= t('stream.no_following_topics') %> <span class="arrow"></span>
          </div>
        <% end %>

        <div class="stream-items-wrapper">
          <% unless @stream.count == 0 %>
            <%= render @stream, :object => { :enable_follow => false } %>
          <% else %>
            <%= render @stream_for_new_users, :object => { :enable_follow => true }%>
          <% end %>
        </div>
        <% if @stream_messages.current_page < @stream_messages.total_pages %>
          <p class="load-more-wrapper">
            <%= link_to stream_path(:page => (params[:page] || 1).succ, :format => :js), :remote => true, :class => 'clean-button border-all' do %>
              <span class="more-stream border-all">View More</span>
            <% end %>
          </p>
        <% end %>
      </section>
      <section class="recommended-topics">
        <% unless @recommended.empty? %>
          <h3><%= t 'stream.sidebar.recommended_topics' %></h3>
          <ul class="recommended">
            <% @recommended.each do |topic| %>
              <% next if current_user.blocks.map{|u| u.block}.include? topic.user %>
              <li class="border-all">
                <%= link_to topic.title, topic %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <h3><%= t 'stream.sidebar.newest_topics' %></h3>
        <ul class="newest">
          <% @newest.each do |topic| %>
            <% next if current_user.blocks.map{|u| u.block}.include? topic.user %>
            <li class="border-all">
              <%= link_to topic.title, topic %>
            </li>
          <% end %>
        </ul>

        <h3><%= t 'stream.sidebar.people_like_you' %></h3>
        <% unless @users_similar_profile.empty? %>
          <h4><%= t 'stream.sidebar.similar_profile' %></h4>
          <ul class="topic-avatars">
            <% @users_similar_profile.each do |user| %>
              <% next if current_user.blocks.map{|u| u.block}.include? user %>
              <li>
                <%= avatar_span(user, user.is_expert?) %>
                <em><%= user.username %></em>
                <%= render :partial => 'users/card', :locals => {:user => user} %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <h4><%= t 'stream.sidebar.similar_interests' %></h4>
        <% if @users_similar_interests.empty? %>
          <div class="no-users-msg"><%= t 'stream.sidebar.no_users_msg' %></div>
        <% else %>
          <ul class="topic-avatars">
            <% @users_similar_interests.each do |user| %>
              <% next if current_user.blocks.map{|u| u.block}.include? user %>
              <li>
                <%= avatar_span(user, user.is_expert?) %>
                <em><%= user.username %></em>
                <%= render :partial => 'users/card', :locals => {:user => user} %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </section>
    </div>
    <br class="clear">
  </div>
</div>
