<% stylesheet 'stream' %>
<% javascript 'stream' %>

<div class="aligned">
  <div class="content stream-wrapper">
    <%= render :partial => 'shared/user_nav' %>
    <div class="right-side border-all container-soft-box-shadow">
      <section class="streams border-left">
        <div class="stream-title">
          <h2>Stream</h2>
          <div class="filter">
            <%= form_tag '/stream', :method => 'get', :class => 'filter-stream' do %>
              <%= select_tag :filter, options_for_select([['All Topics', 'all'], ['Followed Topics', 'followed'], ['My Topics', 'owned']], params[:filter]), :id => nil %>
            <% end %>
          </div>
        </div>
        <div class="stream-items-wrapper">
          <% @stream.each do |message| %>
          <div class="stream-item">
            <div class="avatar-wrapper">
              <% unless message.reply.anonymous? %>
                <%= avatar_span(message.reply.user, message.reply.user.is_expert?) %>
                <%= render :partial => 'users/card', :locals => {:user => message.reply.user} %>
              <% else %>
                <span class="avatar">
                  <%= image_tag(message.reply.author_avatar, :width => '56') %>
                </span>
              <% end %>
            </div>
            <div class="stream-item-data">
              <div>
                <span class="user-comment"><%= message.title %></span>
                <span class="time-ago"><%= time_ago_in_words message.reply.created_at %></span>
                <br class="clear" />
              </div>
              <p class="title"><%= link_to message.reply.topic.title, message.reply.topic %></p>
              <blockquote>
                 <%= simple_format truncate(message.reply.content, :length => 140) %>
              </blockquote>
            </div>
            <br class="clear" />
          </div>
          <% end %>
        </div>
      </section>
      <section class="recommended-topics">
        <% unless @recommended.empty? %>
          <h3><%= t '.sidebar.recommended_topics' %></h3>
          <ul>
            <% @recommended.each do |topic| %>
              <li class="border-all">
                <%= link_to topic.title, topic %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <h3><%= t '.sidebar.newest_topics' %></h3>
        <ul>
          <% @newest.each do |topic| %>
            <li class="border-all">
              <%= link_to topic.title, topic %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
    <br class="clear">
  </div>
</div>
