<div class="messages-title header-title-bg border-top">
  <h2><span><%= t('users.show.content.private_messages.my_messages') %></span></h2>
  <%= link_to '#inbox', :class => "border-all back-to-msgs light-button" do %>
    <span class="border-all"><%= t('users.show.content.private_messages.back_to_msgs') %></span>
  <% end %>
</div>
<div class="pm-panel-padding">
  <div class="replies-wrapper">
    <%= render :partial => 'reply', :object => message %>
  </div>
  <div class="replies-wrapper message-replies <% 'pm-details' unless message.replies.blank? %>">
    <%= render :partial => 'reply', :collection => message.replies %>
  </div>
  <% if message.sender && !current_user.blocks.map{|u| u.block}.include?(message.sender) && !current_user.blocked_user?(message.sender) && !current_user.blocks.map{|u| u.block}.include?(message.recipient) && !current_user.blocked_user?(message.recipient) %>
    <div class="my-messages-reply-wrapper">
      <div class="avatar-wrapper">
        <%= avatar_span(current_user, current_user.is_expert?) %>
        <%= render :partial => 'users/card', :locals => {:user => current_user} %>
      </div>
      <%= form_for PrivateMessage.new, :url => url_for_message_reply(message), :remote => true, :html => { :id => "reply-form" } do |f| %>
        <p class="username"><%= current_user.username %></p>
        <div class="new-response response-wrapper reply-pm">
          <div class="response border-all">
            <%= hidden_field_tag :reply_to, message.id %>
            <%= f.text_area :content, :class => 'border-all', :rows => '1', :cols => '78', :placeholder => t('users.show.content.private_messages.add_reply') %>
          </div>
        </div>
        <%= f.submit t('users.show.content.private_messages.send_reply'), :class => 'btn-gradient' %>
      <% end %>
    </div>
  <% end %>
</div>

