<h2 class="regular pm-panel-padding"><span><%= t('users.show.content.private_messages.title') %></span><%= link_to '#inbox', :class => "border-all back-to-msgs" do %><span class="arrow"></span><span><%= t('users.show.content.private_messages.back_to_msgs') %></span>
  <% end %>
</h2>
<div class="pm-panel-padding">
  <div class="pm-details">
    <%= render :partial => 'reply', :object => message %>
  </div>
  <div class="replies-wrapper <% 'pm-details' unless message.replies.blank? %>">
    <%= render :partial => 'reply', :collection => message.replies %>
  </div>  
  <%= form_for PrivateMessage.new, :url => url_for_message_reply(message), :remote => true, :html => { :id => "reply-form" } do |f| %>
    <div class="new-response response-wrapper reply-pm">
      <div class="response border-all">
        <%= hidden_field_tag :reply_to, message.id %>                                  
        <%= f.text_area :content, :class => 'border-all', :rows => '1', :cols => '78', :placeholder => t('users.show.content.private_messages.add_reply') %>
      </div>
    </div>
    <%= f.submit t('users.show.content.private_messages.send_reply'), :class => 'btn-gradient' %>
  <% end %>
</div>

