<h2 class="regular"><%= t('users.show.content.private_messages.title') %></h2>
<div class="bar-wrapper">
  <div class="bar border-all bar-private">
    <ul class="opts">
      <li><%= link_to 'Delete', private_message, :class => "pm-delete", :method => :delete, :confirm => t('users.show.content.private_messages.confirm_delete') %></li>
      <li><%= link_to 'Reply', '#toreply', :class => "pm-reply" %></li>
    </ul> 
    <div class="bar-arrow down"><%= link_to 'Next', nil %></div>
    <div class="bar-arrow up active"><%= link_to 'Back', nil %></div>
  </div>
  <%= link_to 'Back to messages', '#inbox', :class => "bar border-all back-to-msgs" %>
</div>
<div class="pm-details">
  <div class="pm-user">
    <div class="avatar-wrapper">
      <div class="avatar">
        <%= image_tag private_message.sender.profile.avatar.url, :width => '50' %>
      </div>
    </div>
    <div class="pm-user-details">
      <div><%= link_to t('users.show.content.private_messages.by', :sender => private_message.sender.username), '#' %></div>
      <div><%= t 'users.show.content.private_messages.at_date', :date => l(private_message.created_at, :format => :long) %></div>
    </div>
  </div>  
  <div class="pm-message">
    <%= private_message.content %>
  </div>
</div>
<div class="pm-details">
  <% private_message.replies.each do |reply| %>
    <div class="pm-user-response"><%= link_to reply.sender.username %> <%= t('users.show.content.private_messages.at_date', :date => l(private_message.created_at, :format => :long)) %></div>
    <div class="pm-message response">
      <%= reply.content %>
    </div>
  <% end %>
</div>
<div class="new-response response-wrapper">
  <% if defined?(replying) && replying %>
    <%= form_for reply_private_message_path(private_message) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.submit t('.reply') %>
    <% end %>
  <% else %>
    <div>
      <a href="#">New Response</a>
    </div>
  <% end %>
</div>
