<% if reply.sender == current_user %>
  <div class="pm-user-response"><strong><%= reply.sender.username %></strong> <%= t('users.show.content.private_messages.at_date', :date => l(reply.created_at, :format => :long)) %></div>
<% else %>
  <div class="pm-user">
    <div class="avatar-wrapper">
      <div class="avatar">
        <%= image_tag reply.sender.profile.avatar.url, :width => 50 %>
      </div>
    </div>
    <div class="pm-user-details">
      <div><strong><%= t('users.show.content.private_messages.by', :sender => reply.sender.username) %></strong></div>
      <div><%= t 'users.show.content.private_messages.at_date', :date => l(reply.created_at, :format => :long) %></div>
    </div>
  </div>
<% end %>
<div class="pm-message response">
  <%= reply.content %>
</div>
