<% if reply.sender == current_user %>
  <div class="pm-user-response"><strong><%= reply.sender.username %></strong> <%= t('users.show.content.private_messages.at_date', :date => l(reply.created_at, :format => :long)) %></div>
<% else %>
  <div class="pm-user">
    <div class="avatar-wrapper">
        <%= avatar_span(reply.sender, reply.sender.is_expert?) %>
        <%= render :partial => 'users/card', :locals => {:user => reply.sender} %>
    </div>
    <div class="pm-user-details">
      <div><strong><%= t('users.show.content.private_messages.by', :sender => reply.sender.username) %></strong></div>
      <div><%= t 'users.show.content.private_messages.at_date', :date => l(reply.created_at, :format => :long) %></div>
    </div>
    <br class="clear">
  </div>
<% end %>
<div class="pm-message response">
  <%= reply.content %>
</div>
<br class="clear">
