<div class="discussion-wrapper">
  <div class="avatar-wrapper">
    <%= avatar_span(reply.sender, reply.sender.is_expert?) %>
    <%= render :partial => 'users/card', :locals => {:user => reply.sender} %>
  </div>
  <div class="message-data">
    <div class="from">
      <%= reply.sender.username %>
      <span class="date"><%= l(reply.created_at.to_date, :format => :inbox) %></span>
    </div>
    <div class="msg">
      <%= reply.content %>
    </div>
  </div>
</div>
