<!DOCTYPE html>
<html>
<head>
  <title>Lgbt</title>
  <%= javascript_include_tag :defaults, 'form_validator', :cache => "admin_all" %>
  <%= stylesheet_link_tag 'reset', 'fonts', 'style', 'admin', :cache => "admin_all" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5_ie' %>
  <![endif]-->
</head>
<body>
  <div>
        <header>
          <div class="rainbow"></div>
          <div class="gray dark"></div>
          <div class="aligned">
            <div class="header-top topic">
              <div class="links">
                <div><%= link_to 'TRANSCEND', root_path, :class => 'lgbt' %></div>
                <div><%= link_to 'ﺔﻴﺑﺮﻌﻟﺍ ﺔﻐﻠﻟﺎﺑ', { :locale => 'ar' }, :class => 'lan' %></div>
              </div>
              <ul class="logged_opts">
                <li><b><%= t('.header.logged_in.hi', {:username => current_user.username}) %></b></li>
                <li><%= link_to t('.header.logged_in.my_account') %></li>
                <li><%= link_to t('.header.logged_in.sign_out'), logout_path %></li>
              </ul>
            </div>
          </div>
          <div class="header-wrapper">
            <div class="header-tags aligned">
              <ul>
                <li><%= link_to 'Topics', admin_topics_path %></li>
                <li><%= link_to 'Topics Requests', admin_topic_requests_path %></li>
                <li><%= link_to 'Users', admin_users_path %></li>
                <li><%= link_to 'Bad Words', admin_bad_words_path %></li>
                <li><%= link_to 'Flagged Replies', admin_flagged_replies_path %></li>
                <li><%= link_to 'Tags', nil %></li>
              </ul>
            </div>
          </div>
        </header>
    <div class="container">
      <div class="aligned">
        <div class="admin border-all">
          <%= print_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
