<!DOCTYPE html>
<html>
<head>
  <title>Lgbt</title>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= stylesheet_link_tag 'reset', 'fonts', 'style' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5_ie' %>
  <![endif]-->
</head>
<body>
  <%= link_to 'en', :locale => 'en'  %>
  <%= link_to 'ar', :locale => 'ar'  %>
  <% flash.each do |key, msg| %>
    <div class="flash <%= key %>"><%= msg %></div>
  <% end %>
  <div class="aligned">                            
    <header>  
      <div class="header-top">
        <%= link_to 'LGBT' %>                           
        <div class="sign-up">
          <a href="#">Sign Up</a> or <a href="#">Login</a>
        </div>
        <form action="#" method="post" class="search">
          <%= search_field :search, :placeholder => "Search Topic", :value => "" %>
        </form>   
      </div>
      <div class="header-tags">
        <ul>
          <li><%= link_to 'Help' %></li>
          <li><%= link_to 'Movements' %></li>
          <li><%= link_to 'LGBT' %></li>
          <li><%= link_to 'Marriage' %></li>
          <li><%= link_to 'Youth' %></li>
          <li><%= link_to 'Gay Rights' %></li>
          <li><%= link_to 'Transgender' %></li>
          <li><%= link_to 'Bisexual' %></li>
        </ul>       
        <%= link_to 'Request a topic' %>
      </div>
    </header>          
  </div>  
  <%= yield %>
</body>
</html>
