<!DOCTYPE html>
<html <%= 'dir="rtl"'.html_safe if rtl? %>>
<head>
  <title><%= "#{@page_title} : " if @page_title %>Ahwaa.org: LGBT community help site for the Middle East <%= ": Ahwaa" unless @page_title %></title>
  <meta http-equiv="content-type" content="text-html; charset=utf-8">
  <meta name="description" content="<%= @meta_description.present? ? @meta_description : 'A safe space to debate LGBTQ-related issues in the Middle East' %>">
  <meta name="keywords" content="<%= @meta_keywords.present? ? @meta_keywords : 'gay,lesbian,lgbt,middle,east,discuss,forum,homosexual' %>">
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/reset_rtl', 'rtl/fonts_rtl', 'rtl/style_rtl', 'style-rtl', :cache => 'all_rtl' %>
  <% else %>
    <%= stylesheet_link_tag 'reset', 'fonts', 'style', :cache => true %>
  <% end %>

  <%= javascript_include_tag :defaults, 'include/form_validator', 'include/jquery.pageslide', 'include/jquery.hoverIntent.minified', 'include/neon', 'authForms', 'messageSender', 'welcomeSender', 'avatars', 'tagList', :cache => true %>

  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'include/html5_ie' %>
    <%= stylesheet_link_tag 'ie' %>
    <% if rtl? %>
      <%= stylesheet_link_tag 'ie-rtl' %>
    <% end %>
  <![endif]-->
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie7' %>
    <% if rtl? %>
      <%= stylesheet_link_tag 'ie7-rtl' %>
    <% end %>
  <![endif]-->
  <!--[if IE 8]>
    <%= stylesheet_link_tag 'ie8' %>
  <![endif]-->
</head>
<body>
  <div class="page-wrapper <%= 'rtl'.html_safe if rtl? %>">
    <%= print_flash %>
      <header>
        <div class="rainbow"></div>
        <div class="gray <%= current_page?(root_path) ? 'light' : 'dark' %>"></div>
        <div class="logo-wrapper <%= current_page?(root_path) ? 'light' : 'dark' %>">
        <div class="aligned">
          <div class="header-top <%= current_page?(root_path) ? 'homepage' : 'topic' %>">
            <div class="links">
              <% if !current_page?(root_path) %>
                <div class="logo-link"><%= link_to 'TRANSCEND', root_path, :class => 'lgbt' %></div>
              <% end %>
              <div><%= link_to t('.header.switch_to_english'), root_url(:subdomain => (rtl? ? '' : 'ar')), :class => 'lan' %></div>
            </div>
            <% if logged_in? %>
              <div class="user-logged-info" data-hansel-component-id="user-logged-box">
                <%= avatar_span(current_user, current_user.is_expert?, false, "42x42") %>
                <div class="user-data">
                  <b>
                    <span><%= t('.header.logged_in.hi', {:username => current_user.username}) %></span>
                    <%= link_to 'edit', user_path, :class => 'edit-secondary', :title => t('.header.logged_in.edit_profile')  %>
                  </b>
                   <p class="points-wrapper-small small-hearts border-all">
                      <span class="level <%= level_css_class_for_user(current_user) || 'no-level' %>"></span>
                      <span class="points"><%= current_user.score_board.current_points %></span>
                      <span class="tooltip-wrapper">
                        <span class="tooltip">
                          <span class="msg">
                            <%= link_to t('.header.logged_in.tooltip.earned_points'), '#', :title => t('.header.logged_in.tooltip.learn_more'), :class => 'learn-about-points' %>
                          </span>
                          <span class="arrow">
                            <span></span>
                          </span>
                        </span>
                      </span>
                   </p>
                   <ul class="activity-btns">
                     <li class="light-button border-left">
                       <%= link_to stream_path, :title => t('.header.logged_in.stream') do %>
                         <span class="activity"><%= t('.header.logged_in.stream') %></span>
                       <% end %>
                     </li>
                     <li class="light-button border-right">
                       <%= link_to inbox_user_path, :title => t('.header.logged_in.messages') do %>
                         <span class="messages"><%= t('.header.logged_in.messages') %></span>
                         <% if current_user.received_messages.unread.size > 0 %>
                           <span class="new-message-container"><%= current_user.received_messages.unread.size %></span>
                         <% end %>
                       <% end %>
                    </li>
                   </ul>
                   <%= link_to t('.header.logged_in.logout'), logout_path, :title => t('.header.logged_in.logout'), :class => "log-out border-all light-button disabled"  %>
                 </div>
              </div>
            <% else %>
              <div class="sign-up">
                <div class="auth-wrapper" data-hansel-component-id="sign-up">
                  <a href="#" id="sign-up" class="sign-up-lk border-all">
                    <span class="sign-up-btn border-all"><%= t('.header.auth.sign_up') %></span>
                  </a>
                  <span class="tooltip-wrapper">
                    <span class="tooltip">
                      <span class="msg">
                        <%= t('.header.auth.sign_up_tooltip') %>
                      </span>
                      <span class="arrow">
                        <span></span>
                      </span>
                    </span>
                  </span>
                  <%= form_for User.new, :html => {:class => "over-form sign-up-form ie8-hide"}, :remote => true do |f| %>
                    <p class="form-parag"><%= t('.header.sign_up_form.legend') %></p>
                    <ul>
                      <li class="email">
                        <label><%= t('.header.sign_up_form.email') %></label>
                        <%= f.email_field :email, :required => "true", :maxlength => 35 %>
                      </li>
                      <li class="username">
                        <label><%= t('.header.sign_up_form.username') %></label>
                        <%= f.text_field :username, :required => "true", :maxlength => 35 %>
                      </li>
                      <li class="password">
                        <label><%= t('.header.sign_up_form.password') %></label>
                        <%= f.password_field :password, :required => "true", :maxlength => 35 %>
                      </li>
                    </ul>
                    <div class="flash-privacy">
                      <div class="border-all"><%= t('.header.sign_up_form.flash_alert')%><span class="exclamation"></span><span class="icn-cross"></span></div>
                    </div>
                    <div class="errors"></div>
                    <p class="legend"><%= t('.header.sign_up_form.note_pt1') %> <%= link_to t('.header.sign_up_form.terms_of_use'), terms_path %> <%= t('.header.sign_up_form.note_pt2') %> <%= link_to t('.header.sign_up_form.privacy_policy'), privacy_policy_path %> <%=t('.header.sign_up_form.note_pt3')%></p>
                    <%= f.submit t('.header.sign_up_form.sign_up'), :class => "auth-submit border-all" %>
                  <% end %>
                </div>
                <div class="auth-wrapper" data-hansel-component-id="sign-in">
                  <a href="#" id="login" class="border-all light-button"><span class="border-all"><%= t('.header.auth.login') %></span></a>
                  <%= form_tag login_path(:js), :class => "over-form login-form ie8-hide", :remote => true do %>
                    <ul>
                      <li class="login">
                        <label><%= t('.header.login_form.login') %></label>
                        <%= text_field_tag :login, nil, :required => "true", 'id' => "login-input" %>
                      </li>
                      <li class="password">
                        <label><%= t('.header.login_form.password') %></label>
                        <%= password_field_tag :password, nil, :required => "true" %></li>
                    </ul>
                    <%= submit_tag t('.header.login_form.sign_in'), :class => "auth-submit border-all" %>
                    <%= link_to t('.header.login_form.forgot_password'), '#', :id => 'forgot-pass', :class => 'action-lk'%>
                  <% end %>
                  <%= form_tag passwords_path(:js), :class => "over-form forgot-pass-form", :remote => true do %>
                    <p class="form-parag"><%= t('.header.forgot_pass_form.legend') %></p>
                    <ul>
                      <li class="login">
                        <label><%= t('.header.forgot_pass_form.login') %></label>
                        <%= text_field_tag :login, nil, :required => "true" %>
                      </li>
                    </ul>
                    <%= submit_tag t('.header.forgot_pass_form.send'), :class => "auth-submit border-all", :disable_with => '...', :'data-enable-with' => t('.header.forgot_pass_form.send') %>
                      <a href="#" class="cancel-forgot action-lk"><%= t('.header.forgot_pass_form.cancel') %></a>
                  <% end %>
                 </div>
              </div>
            <% end %>
            <div class="search" data-hansel-component-id="search">
              <p class="border-all">
                <%= text_field_tag 'query', '', :placeholder => t('.header.search_topics')%>
                <span></span>
              </p>
              <div class="search-results-wrapper">
                <a href="#" class="arrow scroll-up"><div><div></div></div></a>
                <div class="search-results-scroller">
                  <ul class='search-results'></ul>
                </div>
                <a href="#" class="arrow scroll-down"><div><div></div></div></a>
              </div>
            </div>
            <div class="request-topic-wrapper">
              <a href="<%= new_topic_request_path %>" title="<%= t('.header.request_topic.button') %>" class="request-topic border-all light-button <%= 'disabled' if !logged_in? %> <%= 'active' if logged_in? %>">
                <span class="border-all">
                  <span><%= t('.header.request_topic.button')%></span>
                </span>
              </a>
              <span class="tooltip-wrapper">
                <span class="tooltip">
                  <span class="msg"><%= t('.header.request_topic.tooltip') %></span>
                  <span class="arrow">
                    <span></span>
                  </span>
                </span>
              </span>
              <div class="request-error">
                <span class="arrow-shadow"><span class="arrow"></span></span>
                <div class="border-all">
                  <p class="sign-up-legend"><%= t('.header.request_topic.legend') %></p>
                  <a href="#" class="sign-up-lk border-all"><span class="sign-up-btn"><%= t('.header.request_topic.sign_up') %></span></a>
                </div>
                <br class="clear">
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="header-wrapper">
          <div class="header-tags aligned">
            <ul id="header-tags">
              <% Topic.by_language(I18n.locale).tag_counts.each do |tag| %>
                <li><%= link_to tag, topic_tag_path(tag.id) %></li>
              <% end %>
              <li class="more">
                <%= link_to nil do %>
                  <span><%= t('.header.tags_more') %></span>
                <% end %>
                <div class="scroll-tags more-tags border-bottom">
                  <a class="arrow scroll-up" href="#"><div><div></div></div></a>
                  <div class="scroller">
                    <ul id="moretags" class="border-all border-menu">
                    </ul>
                  </div>
                  <a class="arrow scroll-down" href="#"><div><div></div></div></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </header>
    <div class="container">
      <%= yield %>
    </div>
    <div class="hall-of-fame" data-hansel-component-id="hall-of-fame">
      <div class="hall-header">
        <h4 class="closed">
          <span title="<%= t '.hall_of_fame.tab' %>"><%= t '.hall_of_fame.tab' %></span>
        </h4>
      </div>
      <div class="hall-footer collapsed">
        <div class="aligned">
          <ul class="hall-people">
            <% if @fame_helpful %>
              <li>
                <div class="avatar-wrapper footer-avatar">
                  <span class="avatar <%= level_css_class_for_user @fame_helpful %>">
                    <%= image_tag @fame_helpful.profile.avatar.url, :size => '42x42' %>
                    <span class="honor-member"></span>
                    <span></span>
                  </span>
                  <%= render :partial => 'users/card', :locals => {:user => @fame_helpful} %>
                </div>
                <div class="honor-member-info">
                  <span><%= t '.hall_of_fame.most_helpful_advice' %></span>
                  <%= @fame_helpful.username %>
                </div>
              </li>
            <% end %>
            <% if @fame_active %>
              <li>
                <div class="avatar-wrapper footer-avatar">
                  <span class="avatar <%= level_css_class_for_user @fame_active %>">
                    <%= image_tag @fame_active.profile.avatar.url, :size => '42x42' %>
                    <span class="honor-member"></span>
                    <span></span>
                  </span>
                  <%= render :partial => 'users/card', :locals => {:user => @fame_active} %>
                </div>
                <div class="honor-member-info">
                  <span><%= t '.hall_of_fame.most_active_user' %></span>
                  <%= @fame_active.username %>
                </div>
              </li>
            <% end %>
            <% if @fame_topics %>
              <li>
                <div class="avatar-wrapper footer-avatar">
                  <span class="avatar <%= level_css_class_for_user @fame_topics %>">
                    <%= image_tag @fame_topics.profile.avatar.url, :size => '42x42' %>
                    <span class="honor-member"></span>
                    <span></span>
                  </span>
                  <%= render :partial => 'users/card', :locals => {:user => @fame_topics} %>
                </div>
                <div class="honor-member-info">
                  <span><%= t '.hall_of_fame.most_topics_posted' %></span>
                  <%= @fame_topics.username %>
                </div>
              </li>
            <% end %>
            <% if @fame_points %>
              <li class="last">
                <div class="avatar-wrapper footer-avatar">
                  <span class="avatar <%= level_css_class_for_user @fame_points %>">
                    <%= image_tag @fame_points.profile.avatar.url, :size => '42x42' %>
                    <span class="honor-member"></span>
                    <span></span>
                  </span>
                  <%= render :partial => 'users/card', :locals => {:user => @fame_points} %>
                </div>
                <div class="honor-member-info">
                  <span><%= t '.hall_of_fame.highest_points_acquired' %></span>
                  <%= @fame_points.username %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="aligned">
        <div class="footer-container">
          <span><%= t('.footer.all_rights', {:year => Date.today.year}) %></span>
          <ul>
            <li><%= link_to t('.footer.about'), about_path %> - </li>
            <li><%= link_to t('.footer.privacy_policy'), privacy_policy_path %></li>
          </ul>
        </div>
      </div>
    </footer>

    <% if logged_in? %>
      <div id="modal">
        <div id="modals-wrapper">

          <div class="modal about-points">
            <header><%= t('.modals.about_points.title') %> <span class="close">&times;</span></header>
            <div class="body">
              <p><%= t('.modals.about_points.body') %></p>
              <div class="separator"></div>
              <ul class="points-table">
                <li>
                  <em class="heart silver-heart"></em>
                  <span class="points">10 - 49 <%= t('.modals.about_points.words.points') %></span>
                </li>
                <li>
                  <em class="heart gold-heart"></em>
                  <span class="points">100 - 499 <%= t('.modals.about_points.words.points') %></span>
                </li>
                <li>
                  <em class="heart bronze-heart"></em>
                  <span class="points">50 - 99 <%= t('.modals.about_points.words.points') %></span>
                </li>
                <li>
                  <em class="heart green-heart"></em>
                  <span class="points">500+ <%= t('.modals.about_points.words.points') %></span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  </div>
  <!-- Start of StatCounter Code -->
  <script type="text/javascript">
    var sc_project=6758319;
    var sc_invisible=1;
    var sc_security="9423d6a1";
  </script>

  <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
  <noscript><div class="statcounter"><a title="drupal statistics" href="http://statcounter.com/drupal/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/6758319/0/9423d6a1/1/" alt="drupal statistics" ></a></div></noscript>
  <!-- End of StatCounter Code -->
</body>
</html>
