<!DOCTYPE html>
<html>
<head>
  <title>Lgbt</title>
  <%= javascript_include_tag :defaults, 'form_validator', :cache => true%>
  <%= stylesheet_link_tag 'reset', 'fonts', 'style' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5_ie' %>
  <![endif]-->
</head>
<body>
  <%= link_to 'en', :locale => 'en'  %>
  <%= link_to 'ar', :locale => 'ar'  %>
  <% flash.each do |key, msg| %>
    <div class="flash <%= key %>"><%= msg %></div>
  <% end %>          
      <header>               
        <div class="aligned">
          <div class="header-top">
            <%= link_to 'LGBT' %>                           
            <div class="sign-up">
              <a href="#" id="sign-up">Sign Up</a>
              <a href="#" id="login">Login</a>
            </div>
            <form action="#" method="post" class="search">
              <%= text_field :search, nil, :placeholder => "Search topics", :value => "", :class => "border-all" %>
            </form>   
          </div>
        </div>
        <div class="header-wrapper">
          <div class="header-tags aligned">
            <ul>
              <li><%= link_to 'Help' %></li>
              <li><%= link_to 'Movements' %></li>
              <li><%= link_to 'LGBT' %></li>
              <li><%= link_to 'Marriage' %></li>
              <li><%= link_to 'Youth' %></li>
              <li><%= link_to 'Gay Rights' %></li>
              <li><%= link_to 'Transgender' %></li>
              <li><%= link_to 'Bisexual' %></li>
            </ul>       
            <%= link_to 'Request a topic' %>
          </div>
        </div>
      </header>          
  <%= yield %> 
  <form action="#" method="post" class="over-form sign-up-form">
    <p>Please register and enjoy all the benefits of LGTB!</p>
    <%= email_field :email, nil, :required => "true", :placeholder => "Email" %>
    <%= text_field :name_nickname, nil, :required => "true", :placeholder => "Name/Nickname" %>
    <p>By clicking on Submit, you confirm that you accept the <%= link_to 'Terms of Use' %> and <%= link_to 'Privacy Policy' %> for using LGBT.</p>
  </form>
  <form action="#" method="post" class="over-form login-form">
    <%= email_field :email, nil, :required => "true", :placeholder => "Email" %>
    <%= password_field :password, nil, :required => "true", :placeholder => "Password" %>
  </form>  
</body>
</html>
